<script lang="ts">
import { defineComponent } from 'vue';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'About',
  components: {  },
  setup() {
    let { cdnUrl, envStr, updateMeta } = helpers();

    updateMeta({
      title: 'Hakkımızda',
      description: `${envStr('APP_NAME', '')} kurumsal bilgileri`,
      keywords: ''
    });

    return {
      cdnUrl
    };
  }
});
</script>
<template>
  <q-page>
    <q-card class="page-head">
      <q-parallax
        :src="cdnUrl('images/web/header-bg-1.webp')"
        :height="250">
        <div class="q-page-container-content">
          <div class="text-center">
            <h1>Hakkımızda</h1>
          </div>
        </div>
      </q-parallax>
    </q-card>
    <div class="q-page-container-content">
      <q-card class="page-body q-mt-md">
        <q-card-section class="">
          <p class="text-subtitle2">
            TabCar 18 yıllık tecrübemizin sonucu olarak, kendi yazılımına ve alt yapısına dayanarak kuruldu. Sektörde aranan dürüstlüğün tecrübemizin süzgecinden geçtiği bir anlayışla, tecrübeli ve sürekli kendini geliştiren ekibimizin müşterilerimizin ihtiyaçlarına vereceği cevabın öneminin farkındayız. Kendi kültürümüzü, karşılaşılan tüm sorunları tecrübesini baz alarak çözebilen, anında ve hızlı dönüş almanızı garanti eden ve müşteri merkezli bir anlayışla oluşturduk. Müşterilerimizin memnuniyetini öne alan bakış açımızla tüm süreçlerimizi geliştirmeye de devam ediyoruz. “Kalite, bilgi ve tecrübenin ürünüdür” şiarıyla yola çıkan ve bu bakış açısıyla yenilikleri sürdürülebilir hale getirmeyi ilke edinen TabCar, her adımınızda en iyi yardımcınız olmayı hedefler.
          </p>
          <br>
          <h2>Neden biz? Nelere önem veririz.</h2>
          <p class="text-subtitle2">
            Özellikle Avrupa merkezli gelişen yoğun talebin karşılanmasında oluşan alternatif eksikliği ve rekabet azlığı hizmet kalitesini aşağıya çekmektedir. Bunun bilinciyle müşteri talep, istek ve önerilerini daha ilk günden kendimizi bina edeceğimiz temel olarak görüyor ve samimiyetiyle süreklilik kazanan bir hizmet sunmak istiyoruz.
          </p>
          <p class="text-subtitle2">
            Araç kiralama taleplerini kendi filomuz ve geniş tedarikçi ağımız ile sizlerle buluşturmaktan, kaynaklarımızı sizin ihtiyaçlarınıza göre şekillendirmekten büyük mutluluk duyuyoruz. Edindiğimiz tüm tecrübeyi size daha iyi hizmet sunabilmek adına yatırıma ve gelişime dönüştürüyoruz.
          </p>
          <p class="text-subtitle2">
            TabCar servislerinin müşteriye dokunan ayağında tepkilerinizi hızlıca fark eder ve ihtiyacınızın gerektirdiği operasyonu süratle ve sizinle temas halinde gerçekleştirir. İhtiyaçlarınız etrafında şekillenen yapımız tüm talep ve isteklerinize cevap vermek adına sürekli kendini yeniler.
          </p>
          <p class="text-subtitle2">
            İnovasyon, gelişim ve insan merkezliliğe verdiğimiz önem, müşterilerimizle ilişkilerimizi sürekli bir adım öteye taşıma arzusu duyan genç ve dinamik ekibimiz ve süreci sizin lehinize geliştirmeyi planlayan iş yapımızla hizmetin sizin yüzünüzde bir tebessüme dönüşmesi için çalışıyoruz. Dinamik, hızlı düşünen ve ihtiyaçlarınızı en başından fark edip pozisyon alan yapımızla aradığınız hizmeti tüm yönleriyle size sunmayı ve rahatınızı sağlamayı hedefliyoruz.
          </p>
          <p class="text-subtitle2">
            Dün ve bugünden aldığımız tecrübeyi, yarın alacağınız hizmetin garantisi olarak görüyoruz.
          </p>
          <p class="text-subtitle2">
            Bu sebeple AR-GE çalışmaların yanında hizmet sonrası geri dönüşlerinize de kendimizi geliştirmek adına merkezi önem veriyoruz.
          </p>
          <p class="text-subtitle2">
            Hizmetimizin vereceği güven ve rahatlığı büyüterek alanında lider pozisyona doğru ilerlemek isteyen TabCar, en rahat seyahatinizi sağlamak için yanınızda.
          </p>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>
