<script lang="ts">
import { defineComponent } from 'vue';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'Contact',
  components: {  },
  setup() {
    let { cdnUrl, env, envStr, updateMeta } = helpers();

    updateMeta({
      title: 'İletişim',
      description: `${envStr('APP_NAME', '')} iletişim bilgileri`,
      keywords: ''
    });

    return {
      cdnUrl,
      env
    };
  }
});
</script>
<template>
  <q-page>
    <q-card class="page-head">
      <q-parallax
        :src="cdnUrl('images/web/header-bg-1.webp')"
        :height="250">
        <div class="q-page-container-content">
          <div class="text-center">
            <h1>İletişim</h1>
          </div>
        </div>
      </q-parallax>
    </q-card>
    <div class="q-page-container-content">
      <q-card class="page-body q-mt-md">
        <q-card-section class="">
          <q-list separator>
            <q-item>
              <q-item-section>
                <q-item-label>Telefon</q-item-label>
                <q-item-label caption><a :href="`tel:${ env('PHONE_NUMBER', '').replace(/ /g, '') }`" class="text-primary">{{ env('PHONE_NUMBER', '') }}</a></q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>E-Posta</q-item-label>
                <q-item-label caption>{{ `info@${env('APP_DOMAIN', '')}`}}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Adres</q-item-label>
                <q-item-label caption>{{ env('ADDRESS', '') }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>
