<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { useStore } from 'src/store';
import { useRouter } from 'vue-router';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'Home',
  components: {  },
  setup() {
    const store = useStore();
    const router = useRouter();

    let { cdnUrl, env, updateMeta } = helpers();

    const deliveryPointCards = ref([
      {
        id: 1,
        uri: '/arac-kiralama/istanbul-sabiha-gokcen-havalimani',
        name: 'Sabiha Gökçen Havalimanı',
        caption: null,
        content: null,
        image: cdnUrl('images/web/home-card-saw.webp')
      },
      {
        id: 1,
        uri: '/arac-kiralama/istanbul-havalimani',
        name: 'İstanbul Havalimanı',
        caption: null,
        content: null,
        image: cdnUrl('images/web/home-card-isl.webp')
      },
      {
        id: 1,
        uri: '/arac-kiralama/antalya-havalimani',
        name: 'Antalya Havalimanı',
        caption: null,
        content: null,
        image: cdnUrl('images/web/home-card-ayt.webp')
      }
    ]);

    updateMeta({
      title: 'İstanbul - İzmir - Antalya - Uygun Araç Kiralama',
      description: 'İstanbul, İzmir, Antalya havalimanlarında uygun fiyatlı araç kiralama',
      keywords: ''
    });

    onMounted(() => {
      void store.commit('search/setPage', null);
      // void store.dispatch('search/setBackgroundImage', cdnUrl('images/web/header-bg-1.webp'));
    });

    const setDeliveryPoint = (uri: string) => {
      void router.push(uri);
    }

    return {
      deliveryPointCards,
      setDeliveryPoint,
      env
    };
  }
});
</script>
<template>
  <div>
    <div class="section q-my-xl">
      <div class="q-page-container-content">
        <div class="text-center">
          <h1 class="text-h4 q-mb-none">Araç Kiralama</h1>
          <h2 class="text-subtitle1">Hizmet odaklı yeni nesil araç kiralama deneyimine hoş geldiniz!</h2>
        </div>
        <div class="row justify-around q-col-gutter-md">
          <div class="col-sm-4 col-xs-12 flex items-stretch">
            <q-card flat class="text-center full-width">
            <i class="fas fa-wallet feature-icon text-primary"></i>

            <q-card-section>
              <div class="text-h6">Ön Ödemesiz Rezervasyon</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              Hiçbir ücret ödemeden rezervasyon oluşturabilir ve araç başında ödeme yapabilirsiniz
            </q-card-section>
          </q-card>
          </div>

          <div class="col-sm-4 col-xs-12 flex items-stretch">
            <q-card flat class="text-center full-width">
            <i class="fas fa-headset feature-icon text-primary"></i>

            <q-card-section>
              <div class="text-h6">7/24 Destek</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              Çağrı merkezimize (<a :href="`tel:${ env('PHONE_NUMBER', '').replace(/ /g, '') }`" class="text-primary text-bold">{{ env('PHONE_NUMBER', '') }}</a>) dilediğiniz zaman ulaşarak destek alabilirsiniz.
            </q-card-section>
          </q-card>
          </div>

          <div class="col-sm-4 col-xs-12 flex items-stretch">
            <q-card flat class="text-center full-width">
            <i class="fas fa-car-side feature-icon text-primary"></i>

            <q-card-section>
              <div class="text-h6">Kolay Araç Kiralama</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              Akıcı arayüz ile 3 basit adımda işleminizi tamamlayabilirsiniz.
            </q-card-section>
          </q-card>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--caption q-my-xl">
      <div class="q-page-container-content">
        <p class="text-h6 q-mb-none">
          {{ env('APP_NAME', '') }} ile ihtiyaca uygun rezervasyon yapıp araç kiralamak oldukça kolay ve hızlıdır.
          Uygun fiyatlar ve çeşitli araç seçenekleri ile kullanıcı dostu olup çevrimiçi rezervasyon sürecini sürekli
          takip ederek müşterilerine 7/24 kesintisiz hizmet sunar.
        </p>
      </div>
    </div>

    <div class="section q-my-xl">
      <div class="q-page-container-content">
        <div class="text-center">
          <h3 class="text-h4 q-mb-none">Popüler Lokasyonlar</h3>
          <h4 class="text-subtitle1">En çok tercih edilen araç kiralama teslim noktaları</h4>
        </div>
        <div class="full-width q-pa-md">
          <div class="row q-col-gutter-md justify-around">
            <div class="col-sm-4 col-xs-12 flex" v-for="(deliveryPointCard, i) in deliveryPointCards" :key="i">
              <q-card class="cursor-pointer"
                      @click="setDeliveryPoint(deliveryPointCard.uri)"
              >
                <img :src="deliveryPointCard.image" :alt="deliveryPointCard.name">
                <q-card-section>
                  <div class="text-h6">{{ deliveryPointCard.name }}</div>
                  <div v-if="deliveryPointCard.caption !== null" class="text-subtitle2">{{ deliveryPointCard.caption }}</div>
                </q-card-section>
                <q-card-section v-if="deliveryPointCard.content !== null" class="q-pt-none">{{ deliveryPointCard.content }}</q-card-section>
              </q-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .feature-icon {
    font-size: 4em;
    padding: 0.3em;
  }
  .section--caption {
    padding: 3em 0;
    background-color: $grey-2;
    font-size: 1.5em;
  }
</style>
