<script lang="ts">
import ComponentSearch from 'components/global/Search.vue';
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'Index',
  components: { ComponentSearch },
  setup() {
    const lorem = ref('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
    return {
      lorem
    };
  },
  data() {
    return {

    };
  }
});
</script>
<template>
  <q-page class="">
    <component-search/>
    <q-card class="q-ma-md" v-for="i in 30" :key="i">
      <q-card-section>
        {{ lorem }}
      </q-card-section>
    </q-card>
  </q-page>
</template>
