<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { useStore } from 'src/store';
import { useQuasar } from 'quasar';
import { api } from 'boot/axios';
import { AxiosRentalManageInterface, RentalManageInterface } from 'src/models/rentalManage';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'RentalManage',
  components: {  },
  setup() {
    const $q = useQuasar();
    const store = useStore();

    let { cdnUrl, updateMeta } = helpers();

    const onChecking = ref(<boolean> false);
    const emailModel = ref(<string> '');
    const codeModel = ref(<string> '');
    const rentalDetail = ref(<null | RentalManageInterface> null);
    const completed = computed(() => store.state.makeReservation.completed);

    updateMeta({
      title: 'Rezervasyon Yönetimi',
      description: 'Rezervasyon sorgulama ve bilgi görüntüleme',
      keywords: ''
    });

    const check = () => {
      let valid = true;

      if (emailModel.value === '') {
        valid = false;
        $q.notify({
          color: 'negative',
          position: 'top-right',
          message: 'E-Posta gereklidir',
          icon: 'report_problem'
        });
      }

      if (codeModel.value === '') {
        valid = false;
        $q.notify({
          color: 'negative',
          position: 'top-right',
          message: 'Kod gereklidir',
          icon: 'report_problem'
        });
      }

      if (valid) {
        rentalDetail.value = null;
        onChecking.value = true;
        api.get('reservation/show-manage', {
          params: {
            email: emailModel.value,
            code: codeModel.value
          }
        })
          .then((response: AxiosRentalManageInterface) => {
            if (response.data.status) {
              rentalDetail.value = response.data.payload;
            } else {
              $q.notify({
                color: 'negative',
                position: 'top',
                message: response.data.message === null ? 'Rezervasyon bilgisi alınamadı' : response.data.message,
                icon: 'report_problem'
              });
            }
          })
          .catch(() => {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: 'Rezervasyon bulunamadı',
              icon: 'report_problem'
            });
          })
          .finally(() => {
            onChecking.value = true;
          });
      }
    }

    return {
      data: completed,
      emailModel,
      codeModel,
      rentalDetail,
      check,
      cdnUrl
    };
  }
});
</script>
<template>
  <q-page>
    <q-card class="page-head">
      <q-parallax
        :src="cdnUrl('images/web/header-bg-1.webp')"
        :height="250">
        <div class="q-page-container-content">
          <div class="text-center">
            <h1>Rezervasyon Yönetimi</h1>
          </div>
        </div>
      </q-parallax>
    </q-card>
    <div class="q-page-container-content">
      <q-card class="page-body q-mt-md">
        <q-card-section class="row q-col-gutter-sm">
          <q-input
            class="col-sm-6 col-xs-12"
            dense
            v-model="emailModel"
            label="E-Posta" />
          <q-input
            class="col-sm-4 col-xs-12"
            dense
            v-model="codeModel"
            label="Rezervasyon Kodu" />
          <div class="col-sm-2 col-xs-12">
            <q-btn
              class="full-width"
              color="primary"
              icon-right="fas fa-search"
              label="SORGULA"
              size="md"
              @click="check"
            />
          </div>
        </q-card-section>
      </q-card>
      <q-card v-if="rentalDetail !== null" class="q-mt-md">
        <q-card-section>
          <div class="text-h6">Rezervasyon Bilgisi</div>
        </q-card-section>
        <q-separator />
        <q-card-section class="">
          <div class="row q-col-gutter-sm" :class="$q.screen.sm ? 'justify-between' : 'justify-start'">
            <div class="col-md-4 col-sm-auto col-xs-12">
              <q-list class="full-width">
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="fas fa-tag" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>No</q-item-label>
                    <q-item-label caption>{{ rentalDetail.code }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="fas fa-user" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Sürücü</q-item-label>
                    <q-item-label caption>{{ rentalDetail.driverName }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="place" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Alış / Dönüş Yeri</q-item-label>
                    <q-item-label caption>
                      <span>{{ rentalDetail.pickupPoint }}</span>
                      <span v-if="rentalDetail.dropPoint !== rentalDetail.pickupPoint">
                        / {{ dropPoint }}
                      </span>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="event" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Alış / Dönüş Tarihi</q-item-label>
                    <q-item-label caption>
                      {{ rentalDetail.pickupAt }} / {{ rentalDetail.dropAt }} ({{ rentalDetail.rentalDay }} Gün)
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="fas fa-car-side" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Araç</q-item-label>
                    <q-item-label caption>{{ rentalDetail.vehicleName }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="widgets" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Ekstra</q-item-label>
                    <q-item-label caption>
                      <div v-if="rentalDetail.extras.length === 0">Seçilmedi</div>
                      <div v-else>
                        <span v-for="(extra, i) in rentalDetail.extras" :key="`extra-${i}`">
                          {{ extra }}
                          <i v-if="i + 1 < rentalDetail.extras.length">, </i>
                        </span>
                      </div>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="fas fa-money-bill" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Kiralama Ücreti</q-item-label>
                    <q-item-label caption>{{ rentalDetail.rentalAmount }} {{ rentalDetail.currencyCode }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="fas fa-wallet" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Ödeme Yöntemi</q-item-label>
                    <q-item-label caption>{{ rentalDetail.paymentMethodName }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section avatar>
                    <q-icon color="teal" name="fas fa-info-circle" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Durum</q-item-label>
                    <q-item-label caption>{{ rentalDetail.statusName }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>
        </q-card-section>
<!--        <q-card-section>-->
<!--          <div class="text-h6">Durum Geçmişi</div>-->
<!--        </q-card-section>-->
<!--        <q-separator />-->
      </q-card>
    </div>
  </q-page>
</template>
