<script lang="ts">
import { defineComponent } from 'vue';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'RentalConditions',
  components: {  },
  setup() {
    let { cdnUrl, envStr, updateMeta } = helpers();

    updateMeta({
      title: 'Kiralama Koşulları',
      description: `${envStr('APP_NAME', '')} araç kiralama koşulları`,
      keywords: ''
    });

    return {
      cdnUrl
    };
  }
});
</script>
<template>
  <q-page>
    <q-card class="page-head">
      <q-parallax
        :src="cdnUrl('images/web/header-bg-1.webp')"
        :height="250">
        <div class="q-page-container-content">
          <div class="text-center">
            <h1>Kiralama Koşulları</h1>
          </div>
        </div>
      </q-parallax>
    </q-card>
    <div class="q-page-container-content">
      <q-card class="page-body q-mt-md">
        <q-card-section class="">
          <h2>Kiralama Süresi</h2>
          <p class="text-subtitle2">
            Kiralama en az 1 gün (24 saat) yapılabilmektedir. Bir günden daha kısa kiralamalar için günlük fiyat uygulaması yapılmaktadır.
          </p>
          <br>

          <h2>Ödeme Koşulları</h2>
          <p class="text-subtitle2">
            Ödeme, araç teslim alma sırasında yapılacak olup rezervasyon aşamasında belirtiği gibi yapılacaktır.
          </p>
          <br>

          <h2>Trafik Cezaları</h2>
          <p class="text-subtitle2">
            Araç plakasına yazılmış cezalar ilgili kurum tarafından tarafımıza bildirilir. Cezanın tarihi ve saatine göre size ait olduğu anlaşılması durumunda tarafınıza bilgi verilir. Ödemenizi bu belgede belirtilen süre içerisinde sizlere verilen hesap numarasına yapmanız gerekmektedir.
          </p>
          <br>

          <h2>Yakıt</h2>
          <p class="text-subtitle2">
            Araçlarımız genellikle boş depo teslim edilip alınır veya teslim edildiği kadarıyla iade alınır.
          </p>
          <br>

          <h2>Kilometre Kullanım Sınırları</h2>
          <p class="text-subtitle2">
            Araçlarımız adil kilometre kullanım prensibine göre kullanılır. Kilometre aşım ücreti 0,15 Euro olarak hesaplanır.
          </p>
          <br>

          <h2>Fiyata Dahil Olan Hizmetler</h2>
          <p class="text-subtitle2">
            Fiyatlarımıza araç kira bedeli ve standart araç kira sigortası dahildir. Kaza raporlarının eksiksiz olması durumunda; kaza kusur oranlarına göre kullanıcıya belli tutarlarda değer kaybı yansıtması yapılmaktadır. Tutulan raporların eksik olması durumunda rapor tamamen geçersiz sayılmakta ve ücretli onarım yapılmaktadır. Karşılıklı tutulan kaza raporları eksiksiz ve kusur oranlarında kullanıcının herhangi bir kusuru yok ise aracın hasarlı bölgesi sigorta ve kasko kapsamında yapılmaktadır.
          </p>
          <br>

          <h2>Sürücü Bilgisi</h2>
          <p class="text-subtitle2">
            Sitemizden rezervasyon aşamasında araç detayları sayfasında belirtilen sürücü yaşı ve ehliyet yılı şartlarına uygun kişiler sürücü olarak tanımlanabilir. Sürücü ve ek sürücüden araç teslimi esnasında ehliyet ibrazı ve kiralama kontratını imzalamaları istenir. Kiralama kontratında belirtilmeyen kişilerin, aracı kullanmaları halinde meydana gelebilecek hasarlarda kasko ve sigorta geçersiz kalır.
          </p>
          <br>

          <h2>Fiyata Dahil Olmayan Hizmetler</h2>
          <p class="text-subtitle2">
            Bebek/Çocuk Koltuğu, ek sürücü, kış lastiği, ek sigortalar ve GPS Navigasyon gibi ek hizmetlerimiz fiyata dahil değildir. Ek saat, gün ve standart kaskonun kapsamadığı durumlarda fiyata dahil değildir.
          </p>
          <br>

          <h2>Araç Teslimi</h2>
          <p class="text-subtitle2">
            Havalimanı alış lokasyonlarında havalimanı otoparkı ya da ofis otoparkı kullanılır ve teslimat personeli ile iletişim kurularak yapılır. Havalimanı otoparkı teslimlerinde otopark ücreti Tab Car tarafından ödenir. İletişim bilgileri mail adresinize gönderilir. Vermiş olduğunuz uçuş bilgisine göre organize edilir, erken ya da gecikme olacaksa ona göre aksiyon alınır. Bu sebeple uçuş bilgisi önem arz etmektedir. Havalimanı ya da ofis dışında bir yerden araç teslim almak/teslim etmek istiyorsanız ofis ile iletişime geçiniz.
          </p>
          <br>

          <h2>Sigorta ve Güvenceler</h2>
          <p class="text-subtitle2">
            Kiracının, Tab Car Rental tarafından uygulanan Standart Sigorta kapsamını ve Diğer Hasar Sigortasını kabul etmiş olmasına rağmen aşağıdaki belirtilen koşullarda aracın zarar görmesi halinde hasar sorumluluğunu ve buna ilişkin giderleri itiraz etmeksizin karşılamayı kabul eder,
            <br>
            <strong>A-</strong> Kaza anında alkollü ve/veya uyuşturucu madde etkisi altında ise,
            <br>
            <strong>B-</strong> Kaza tespit formunda/raporunda kazanın Kiracının tek taraflı kusurundan kaynaklı olduğunun belirtilmesi durumlarında (Araçların hızlarını hava, yol, görüş, teknik özellikler ve trafik durumuna uydurmamak/uygun kullanmamak dahil ancak bunlarla sınırlı olmamak üzere benzeri kayıtların belirtilmesi halinde)
            <br>
            <strong>C-</strong> Yasal hız sınırının aşıldığı ve kaza tespit formunda kazanın hız nedeniyle meydana geldiğinin belirtilmesi durumunda,
            <br>
            <strong>D-</strong> Tek taraflı kazalarda kaza raporunun düzenlenmediği, çift taraflı kazalarda beyanın eksik doldurulduğu, alkol raporunun alınmadığı durumlarda ve bununla birlikte kasıtlı kazalarda, yüksek devir hızı ile araç kullanımı vb. özensizlik ve kasıt nedenli oluşacak hasarlarda, yanlış veya kaçak yakıt kullanımı nedeni ile oluşacak hasarlarda, lastik patlaması sonucunda jant üzerinde sürüşe bağlı olarak oluşacak hasarlarda, trafik yasalarına aykırı vasıta kullanılması halinde, trafik yasalarına aykırı sürücü belgesi kullanımı halinde, kira sözleşmesinde belirtilen sürücülerin dışında kişilerce kaza yapılması halinde,
            <br>
            <strong>E-</strong>  Kazaya bağlı olmaksızın lastik yarılması, lastik hasarı, jant hasarları (Ekstra sigortası satın alınmamış ise)
            <br>
            <strong>F-</strong> Jant kapağı ve stepne kaybı
            <br>
            <strong>G-</strong> Ruhsat, plaka, yangın söndürücü ve araç içi ekipman zarar görmesi
            <br>
            <strong>H-</strong> Anahtar kaybı ve/veya kullanım kaynaklı anahtar zararları
            <br>
            Sigorta kapsamına girmeyen her türlü hasarı ve zararı Kiracı, araç teslimi sırasında belirlenen ücreti sonradan oluşacak maliyetleri ise, kira bitiminde kredi kartı veya nakit olarak gerçekleştirecektir.
          </p>
          <br>

          <h2>Rezervasyon, Sözleşme ve Değişiklik</h2>
          <p class="text-subtitle2">
            Rezervasyonunuz onaylandıktan sonra ve geliş tarihinizden önce araç grubunu, rezervasyon tarihini değiştirebilir, ek ürün ekleyebilir ve çıkarabilirsiniz. Bazı değişiklikler fiyat farklılıklarına neden olabilir.
            <br>
            <strong>Kiralama Erken İade:</strong> Belirlenen bitiş tarihinden önce iade edilmesi durumunda fiyat kullanılacak gün sayısına göre tekrar hesaplanır. Anlaşma iptal olduğundan aracın boşta kalmasına karşılık 3 günlük bedel düşürülür ve kalan tutar iade edilir.
            <br>
            <strong>Kiralama Uzatma:</strong> Kira süresinin başlamasının ardından bitiş tarihini uzatma talebi olması durumunda fiyat tekrar hesaplanır ve belirtilen ödeme yöntemi ile tahsil edilir.
            <br>
            <strong>No-Show Uygulaması:</strong> Rezervasyonda belirtilen teslim alma saatinde veya verdiğiniz uçuş numarasının kontrolü sonrası uçağınızın iniş saatinden sonra aracın teslim alınmaması ve iletişime geçilmemesi durumunda araç, 1 saat bekletildikten sonra No-show durumuna geçecek ve hiçbir gruptan araç garanti edilemeyecektir. No-show durumundaki rezervasyonunuz 2 saatin sonunda iptal olacaktır.
            <br>
            <strong>İptal ve İade Uygulaması:</strong> Rezervasyonunuzu teslim alma saatinize kadar ücretsiz olarak iptal edebilirsiniz. Müşteri tarafından ön ödeme yapılmış ise vermiş olduğunuz Hesap numarasına iadesi gerçekleştirilir.
          </p>
          <br>

          <h2>Diğer Önemli Hususlar</h2>
          <p class="text-subtitle2">
            Kiralayan; araç sözleşmesinde belirtildiği gibi aldığı aracı geri vermekte hükümlüdür. Kullanıcı hatası gibi sebeplerle oluşan her türlü mekanik ve elektrik dahil olmak üzere tüm zararları ödemeyi kabul ve taahhüt eder. (Sayılanlarla sınırlı olmaksızın hatalı vites değiştirilmesinden kaynaklı problemler, uyarı ışığı yandığı halde sürüşe devam edilmesi, yanlış yakıt kullanımı ve benzeri hasarlar)
            <br>
            Yurt içinde ikamet eden müşterilerimizin araç rezervasyonunun onaylanması için “Finansal analize” ihtiyacı vardır. Finansal analiz raporunun Tab car kiralama kriterlerine uygun olması gerekmekte olup +90 850 308 72 01 numaralı hattımızdan arayarak yaptırabilirsiniz. www.findeks.com üzerinden T.C. kimlik numaranız ve T.C bankalarında kayıtlı olan GSM numaranız ile yapılabilmektedir. Sorgulamada bu bilgiler alındıktan sonra T.C bankalarında kayıtlı olan GSM numaranıza gönderilen mesajı onaylamanız gerekmektedir.
            <br>
            <strong>Aracın çalınması durumunda;</strong> Polis aranarak “Hırsızlık Tespit Tutanağı” alınmalıdır. Alınan raporla birlikte aracın anahtarı tarafımıza teslim edilmelidir.
            <br>
            <strong>Yurtdışına Çıkış;</strong> Hiçbir sigortamız Türkiye sınırları dışında geçerli olmadığı gibi, araçlarımızın Türkiye sınırları dışına çıkarılması da yasaktır. Lütfen teslimat formunu ve sözleşmenizi kontrol ediniz.
            <br>
            Kaza ve çalınma gibi her türlü acil durumda “+90 850 308 72 01” numaralı acil yardım hattımızı arayabilirsiniz.
          </p>
          <br>

        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>
