<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, watch } from 'vue';
import {
  Page,
  SearchData,
  Vehicle,
  AxiosSearchPageResponseInterface,
  SearchPageApiResponseInterface,
  AxiosVehicleFilterItemsResponseInterface,
  SelectItemInterface
} from 'src/models/search';
import { useStore } from 'src/store';
import { useRoute, useRouter } from 'vue-router';
import VehicleListItem from 'components/global/VehicleListItem.vue';
import VehicleListItemPlaceholder from 'components/global/VehicleListItemPlaceholder.vue';
import { api } from 'boot/axios';
// import { event } from 'boot/gtag';
import { useGtm } from '@gtm-support/vue-gtm';
import { scroll, useQuasar } from 'quasar';
import helpers from 'src/composables/helpers-hook';
import { AxiosResponse } from 'axios';

interface Message {
  place: string;
  type: string;
  title: string;
  content: string;
}

interface ComputedMessage {
  icon: null|string;
  class: null|string;
  title: string;
  content: string;
  hidden: boolean;
}

interface AxiosVehicleListResponseInterface extends AxiosResponse {
  data: {
    messages: Message[];
    vehicles: Vehicle[];
  }
}

interface ExtendedElement extends Element {
  offsetTop: number;
}

export default defineComponent({
  name: 'Search',
  components: { VehicleListItem, VehicleListItemPlaceholder },
  setup (props, context) {
    const $q = useQuasar();
    const store = useStore();
    const route = useRoute();
    const router = useRouter();
    const gtm = useGtm();
    const { getScrollTarget, setVerticalScrollPosition } = scroll
    let { updateMeta } = helpers();

    const searchResult = ref(<null | ExtendedElement>null);

    const isSearched = ref(false);
    const isSearchSpinnerVisible = ref(false);

    const slug = ref(<null | string> null);
    const sentSlug = ref(<null | string> null);
    const isSlugSpinnerVisible = ref(false);

    const vehicles = ref(<Vehicle[]> []);

    const messages = ref(<Message[]> []);
    const messageIcons: {[key: string]: string} = {
      info: 'info',
      warning: 'warning',
      support: 'info',
    };
    const messageClasses: {[key: string]: string} = {
      info: 'text-white bg-primary',
      warning: 'text-black bg-warning',
      support: 'text-black bg-positive',
    };

    const listTopMessages = computed((): ComputedMessage[] => messages.value.filter(i => i.place === 'list-top')
      .map(i => <ComputedMessage> {
        icon: getMessageIcon(i.type),
        class: getMessageClass(i.type),
        title: i.title,
        content: i.content,
        hidden: false,
      }));

    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const search = computed((): SearchData => store.getters['search/getData']);
    const searchIsReady = computed((): boolean => store.state.search.isReady);
    const page = computed((): Page|null => store.state.search.page);
    const listItems = ref(<Vehicle[]> []);
    // const search = computed((): SearchData => store.getters.search.getData);

    const filters = reactive({
      group: {
        model: <SelectItemInterface[] | null> [],
        items: <SelectItemInterface[]> []
      },
      brand: {
        model: <SelectItemInterface[] | null> [],
        items: <SelectItemInterface[]> []
      },
      fuel: {
        model: <SelectItemInterface[] | null> [],
        items: <SelectItemInterface[]> []
      },
      transmission: {
        model: <SelectItemInterface[] | null> [],
        items: <SelectItemInterface[]> []
      },
      sort: {
        model: {
          id: 'cheap-first',
          name: 'Artan Fiyat',
        },
        items: [
          {
            id: 'default',
            name: 'Önerilen',
          },
          {
            id: 'cheap-first',
            name: 'Artan Fiyat',
          },
          {
            id: 'expensive-first',
            name: 'Azalan Fiyat',
          }
        ]
      }
    });

    onMounted(() => {
      if (route.params.hasOwnProperty('slug')) {
        slug.value = <string> route.params.slug;
      }

      loadSlug(slug.value);

      setTimeout(() => {
        if (!isSearched.value) {
          getVehicleList(search.value);
        }
      }, 150);

      getFilterSelectItems();
    });

    // ## Watch
    watch(slug, (slugValue: null | string) => {
      loadSlug(slugValue);
    });

    watch(search, (searchValue: SearchData) => {
      getVehicleList(searchValue);
    });

    watch(
      () => route.params.slug,
      slugValue => {
        slug.value = <null|string> (typeof slugValue === 'undefined' ? null : slugValue)
      }
    )

    // ## Methods
    const getMessageIcon = (type: string) => {
      return messageIcons.hasOwnProperty(type) ? messageIcons[type] : null;
    }

    const getMessageClass = (type: string) => {
      return messageClasses.hasOwnProperty(type) ? messageClasses[type] : null;
    }

    const removeMessage = (title: string) => {
      return messages.value = messages.value.filter(i => i.title !== title);
    }

    const setPageFromApi = (apiPage: SearchPageApiResponseInterface) => {
      void store.commit('search/setPage', {
        slug: apiPage.slug,
        meta: {
          title: apiPage.meta.title,
          description: apiPage.meta.description,
          keywords: apiPage.meta.keywords,
        },
        image: apiPage.image,
        headerHeight: 400,
        title: apiPage.title,
        caption: apiPage.caption,
        content: apiPage.content,
      });

      if (apiPage.deliveryPointId !== null) {
        context.emit('setPickupPoint', apiPage.deliveryPointId);
      }

      updateMeta({
        title: apiPage.meta.title,
        description: apiPage.meta.description === null ? '' : apiPage.meta.description,
        keywords: apiPage.meta.keywords === null ? '' : apiPage.meta.keywords
      });
    }

    const loadSlug = (slug: null | string) => {
      const newSentSlug = slug === null ? 'default' : slug;

      // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
      // console.log(sentSlug.value + ' -- ' + newSentSlug);

      if (sentSlug.value === newSentSlug) {
        // console.log('new -- ' + newSentSlug);
        return;
      }

      // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
      // console.log(sentSlug.value + ' -- ' + newSentSlug);

      sentSlug.value = newSentSlug;

      isSlugSpinnerVisible.value = true;

      api.get(`/web/search-pages/${newSentSlug}`)
        .then((response: AxiosSearchPageResponseInterface) => {
          setPageFromApi(response.data);
          isSlugSpinnerVisible.value = false;
        })
        .catch(() => {

          if (newSentSlug !== 'default') {
            // console.log(router.options.history);
            void router.push({name: 'search'});
          }
        });
    };

    const getFilterSelectItems = () => {
      api.get('/reservation/vehicles/filters')
        .then((response: AxiosVehicleFilterItemsResponseInterface) => {
          filters.brand.items = response.data.brand;
          filters.group.items = response.data.group;
          filters.fuel.items = response.data.fuel;
          filters.transmission.items = response.data.transmission;
        })
        .catch(() => {
          console.log('filter load error');
        });
    }

    const getVehicleList = (searchData: SearchData) => {
      // void store.dispatch('makeReservation/setVehicle', null);

      if (searchIsReady.value) {
        vehicles.value = [];
        messages.value = [];

        void store.dispatch('search/changeStatus', true);
        isSearched.value = true;
        isSearchSpinnerVisible.value = true;

        api.get('reservation/vehicles', {
          params: {
            pickupPointId: searchData.pickupPoint.id,
            dropPointId: searchData.dropPoint?.id,
            pickupAt: searchData.pickupDateTimeString,
            dropAt: searchData.dropDateTimeString,
          }
        })
          .then((response: AxiosVehicleListResponseInterface) => {
            response.data.vehicles.forEach((item: Vehicle) => {
              vehicles.value.push({
                id: item.id,
                name: `${item.properties.brand.name} ${item.name} ${item.properties.fuel.name} ${item.properties.transmission.name}`,
                // image: 'https://elitcarrental.com/assets/images/renault-symbol.webp',
                image: item.image,
                properties: {
                  brand: {
                    id: item.properties.brand.id,
                    name: item.properties.brand.name
                  },
                  group: {
                    id: item.properties.group.id,
                    name: item.properties.group.name
                  },
                  fuel: {
                    id: item.properties.fuel.id,
                    name: item.properties.fuel.name
                  },
                  transmission: {
                    id: item.properties.transmission.id,
                    name: item.properties.transmission.name
                  },
                  luggageVolume: {
                    value: item.properties.luggageVolume.value,
                    name: item.properties.luggageVolume.name
                  },
                  suitcaseCapacity: {
                    value: item.properties.suitcaseCapacity.value,
                    name: item.properties.suitcaseCapacity.name
                  },
                },
                minDriverAge: item.minDriverAge,
                minLicenseAge: item.minLicenseAge,
                orderRank: item.orderRank,
                calculation: {
                  currencyCode: item.calculation.currencyCode,
                  missing: item.calculation.missing,
                  plain: {
                    daily: item.calculation.plain.daily,
                    total: item.calculation.plain.total,
                  },
                  total: {
                    daily: item.calculation.total.daily,
                    total: item.calculation.total.total,
                  },
                  deposit: item.calculation.deposit,
                },
                stars: [],
                reviews: [
                  {
                    userName: 'İs** So**',
                    content: 'Süper hizmet sorunsuz deneyim...',
                    country: 'Almanya',
                    rating: 4
                  }
                ]
              });
            });

            messages.value = response.data.messages;

            // Detect cheapest fuel
            filters.fuel.items.forEach(f => {
              const cheapestFuelVehicle = vehicles.value.filter(v => v.properties.fuel.id === f.id)
                .sort((firstVehicle: Vehicle, secondVehicle: Vehicle) => firstVehicle.calculation.total.total - secondVehicle.calculation.total.total)
                .slice(0, 1)?.shift();

              if (typeof cheapestFuelVehicle !== 'undefined') {
                vehicles.value[vehicles.value.findIndex(i => i.id === cheapestFuelVehicle.id)].stars.push({
                  color: 'secondary',
                  name: `En Uygun ${f.name}`
                })
              }
            });

            // Detect cheapest transmission
            filters.transmission.items.forEach(t => {
              const cheapestTransmissionVehicle = vehicles.value.filter(v => v.properties.transmission.id === t.id)
                .sort((firstVehicle: Vehicle, secondVehicle: Vehicle) => firstVehicle.calculation.total.total - secondVehicle.calculation.total.total)
                .slice(0, 1)?.shift();

              if (typeof cheapestTransmissionVehicle !== 'undefined') {
                vehicles.value[vehicles.value.findIndex(i => i.id === cheapestTransmissionVehicle.id)].stars.push({
                  color: 'secondary',
                  name: `En Uygun ${t.name}`
                })
              }
            });

            filterList();

            // event('conversion', {
            //   // send_to: 'AW-10782016191/uyRSCOjIxvgCEL-FopUo'
            // });

            if (gtm?.enabled()) {
              window.dataLayer?.push({
                event: 'rental-query',
                pickupCity: searchData.pickupPoint.city.name,
                pickupPoint: searchData.pickupPoint.name,
                dropCity: searchData.dropPoint?.city?.name || searchData.pickupPoint.city.name,
                dropPoint: searchData.dropPoint?.name || searchData.pickupPoint.name,
              });
            }

            scrollToResult();
          })
          .catch(() => {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: 'Araç listesi alınamadı',
              icon: 'report_problem'
            });
          })
        .finally(() => {
          void store.dispatch('search/changeStatus', false);
          isSearchSpinnerVisible.value = false;
        });
      } else {
        isSearchSpinnerVisible.value = false;
      }
    }

    const filterList = () => {
      listItems.value = vehicles.value;

      listItems.value = listItems.value.filter(item => {
        if (filters.brand.model === null || filters.brand.model.length === 0) {
          return true;
        }

        return filters.brand.model.filter(brand => brand.id === item.properties.brand.id).length > 0;
      });

      listItems.value = listItems.value.filter(item => {
        if (filters.group.model === null || filters.group.model.length === 0) {
          return true;
        }

        return filters.group.model.filter(group => group.id === item.properties.group.id).length > 0;
      });

      listItems.value = listItems.value.filter(item => {
        if (filters.fuel.model === null || filters.fuel.model.length === 0) {
          return true;
        }

        return filters.fuel.model.filter(fuel => fuel.id === item.properties.fuel.id).length > 0;
      });

      listItems.value = listItems.value.filter(item => {
        if (filters.transmission.model === null || filters.transmission.model.length === 0) {
          return true;
        }

        return filters.transmission.model.filter(transmission => transmission.id === item.properties.transmission.id).length > 0;
      });

      if (filters.sort.model.id === 'default') {
        listItems.value.sort((a, b) => (a.orderRank > b.orderRank ? 1 : -1));
      }

      if (filters.sort.model.id === 'cheap-first') {
        listItems.value.sort((a, b) => (a.calculation.total.total > b.calculation.total.total ? 1 : -1));
      }

      if (filters.sort.model.id === 'expensive-first') {
        listItems.value.sort((a, b) => (a.calculation.total.total > b.calculation.total.total ? -1 : 1));
      }
    }

    const selectVehicle = (id: number) => {
      const selectedVehicle = Object.assign({}, vehicles.value.find(vehicle => vehicle.id === id ));
      if (gtm?.enabled()) {
        window.dataLayer?.push({
          event: 'rental-pick-vehicle',
          vehicleBrand: selectedVehicle.properties.brand.name,
          vehicleModel: selectedVehicle.name,
          vehicleFuel: selectedVehicle.properties.fuel.name,
          vehicleTransmission: selectedVehicle.properties.transmission.name,
          amount: selectedVehicle.calculation.total.total,
          currencyCode: selectedVehicle.calculation.currencyCode,
        });
      }
      void store.dispatch('makeReservation/setVehicle', selectedVehicle);
      void router.push({name: 'makeReservationExtra'});
    }

    const scrollToResult = () => {
      if (searchResult.value !== null) {
        setVerticalScrollPosition(getScrollTarget(searchResult.value), searchResult.value.offsetTop, 500);
      }
    }

    return {
      slug,
      isSlugSpinnerVisible,
      page,
      isSearched,
      isSearchSpinnerVisible,
      search,
      searchResult,
      filters,
      vehicles,
      listTopMessages,
      listItems,
      loadSlug,
      getVehicleList,
      filterList,
      selectVehicle,
      removeMessage,
    };
  }
});
</script>
<template>
  <div class="q-page-container-content" ref="searchResult">
    <template v-if="isSearched">
      <q-card class="q-mt-md">
        <transition appear
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut">
          <q-linear-progress v-if="isSearchSpinnerVisible" query class="absolute" />
        </transition>
        <q-card-section>
          <div class="q-col-gutter-md row items-start">
            <div v-if="$q.screen.gt.xs" class="col-sm-10">
              <div class="q-col-gutter-md row items-start">
                <q-select
                  v-model="filters.brand.model"
                  multiple
                  :options="filters.brand.items"
                  clearable
                  label="Marka"
                  option-value="id"
                  option-label="name"
                  class="col-sm-3 col-xs-12"
                  use-chips
                  color=""
                  @update:model-value="filterList"
                />
                <q-select
                  v-model="filters.group.model"
                  multiple
                  :options="filters.group.items"
                  clearable
                  label="Grup"
                  option-value="id"
                  option-label="name"
                  class="col-sm-3 col-xs-12"
                  use-chips
                  color=""
                  @update:model-value="filterList"
                />
                <q-select
                  v-model="filters.fuel.model"
                  multiple
                  :options="filters.fuel.items"
                  clearable
                  label="Yakıt"
                  option-value="id"
                  option-label="name"
                  class="col-sm-3 col-xs-12"
                  use-chips
                  color=""
                  @update:model-value="filterList"
                />
                <q-select
                  v-model="filters.transmission.model"
                  multiple
                  :options="filters.transmission.items"
                  clearable
                  label="Vites"
                  option-value="id"
                  option-label="name"
                  class="col-sm-3 col-xs-12"
                  use-chips
                  color=""
                  @update:model-value="filterList"
                />
              </div>
            </div>
            <div v-if="$q.screen.xs" class="col-xs-6">
              <q-field label="Filtre" stack-label color="">
                <template v-slot:prepend>
                  <q-icon name="filter_alt" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline" tabindex="0">
                    <div v-if="filters.brand.model.length > 0 || filters.group.model.length > 0 || filters.fuel.model.length > 0 || filters.transmission.model.length > 0">
                      <q-chip v-for="(brand, i) in filters.brand.model" :key="`brand-${i}`" dense color="">{{ brand.name }}</q-chip>
                      <q-chip v-for="(group, i) in filters.group.model" :key="`group-${i}`" dense color="">{{ group.name }}</q-chip>
                      <q-chip v-for="(fuel, i) in filters.fuel.model" :key="`fuel-${i}`" dense color="">{{ fuel.name }}</q-chip>
                      <q-chip v-for="(transmission, i) in filters.transmission.model" :key="`transmission-${i}`" dense color="">{{ transmission.name }}</q-chip>
                    </div>
                    <div v-else>Seçilmedi</div>
                  </div>
                </template>
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-card class="full-width">
                    <q-card-section>
                      <div class="text-h6">Filtre</div>
                      <q-btn flat icon="close" class="absolute-right" v-close-popup></q-btn>
                    </q-card-section>
                    <q-separator />
                    <q-card-section>
                      <q-select
                        v-model="filters.brand.model"
                        multiple
                        :options="filters.brand.items"
                        label="Marka"
                        option-value="id"
                        option-label="name"
                        use-chips
                        color=""
                        @update:model-value="filterList"
                      />
                      <q-select
                        v-model="filters.group.model"
                        multiple
                        :options="filters.group.items"
                        label="Grup"
                        option-value="id"
                        option-label="name"
                        use-chips
                        color=""
                        @update:model-value="filterList"
                      />
                      <q-select
                        v-model="filters.fuel.model"
                        multiple
                        :options="filters.fuel.items"
                        label="Yakıt"
                        option-value="id"
                        option-label="name"
                        use-chips
                        color=""
                        @update:model-value="filterList"
                      />
                      <q-select
                        v-model="filters.transmission.model"
                        multiple
                        :options="filters.transmission.items"
                        label="Vites"
                        option-value="id"
                        option-label="name"
                        use-chips
                        color=""
                        @update:model-value="filterList"
                      />
                    </q-card-section>
                  </q-card>
                </q-popup-proxy>
              </q-field>
            </div>
            <q-select
              v-model="filters.sort.model"
              :options="filters.sort.items"
              label="Sırala"
              option-value="id"
              option-label="name"
              class="col-sm-2 col-xs-6"
              color=""
              @update:model-value="filterList"
            >
              <template v-slot:prepend>
                <q-icon name="sort" />
              </template>
            </q-select>
          </div>
        </q-card-section>
      </q-card>

      <div v-if="isSearchSpinnerVisible" class="q-mt-md">
        <vehicle-list-item-placeholder />
      </div>

      <q-banner dense rounded inline-actions class="q-mt-md" :class="message.class" v-for="(message, i) in listTopMessages" :key="i">
        <template v-slot:avatar v-if="message.icon !== null">
          <q-icon :name="message.icon"/>
        </template>
        {{ message.content }}
        <template v-slot:action>
          <q-btn flat dense icon="close" @click="removeMessage(message.title)" />
        </template>
      </q-banner>

      <vehicle-list-item v-for="(vehicle, i) in listItems" :key='`item-${i}`' :vehicle="vehicle" @selectVehicle="selectVehicle" class="q-mt-md"/>
    </template>
    <q-card class="q-mt-md q-mb-md">
      <q-card-section v-if="page">
        <transition appear
                    enter-active-class="animated fadeInRight"
                    leave-active-class="animated fadeOutRight">
          <q-spinner-cube v-if="isSlugSpinnerVisible" color="deep-orange"/>
        </transition>
        {{ page.content }}
      </q-card-section>
    </q-card>
  </div>
</template>
