<script lang="ts">
import { defineComponent } from 'vue';
import ComponentSearch from 'components/global/Search.vue';
import { useQuasar } from 'quasar';
import helpers from 'src/composables/helpers-hook';

export default defineComponent({
  name: 'X',
  components: {
    ComponentSearch
  },
  setup() {
    const $q = useQuasar();

    let { env } = helpers();

    $q.dark.set(false);

    return {
      env
    };
  }
});
</script>
<template>
  <div style='width: 1140px; margin: 0 auto;'>
    <q-btn color="white" text-color="black" label="Y" :to="{name: 'y'}" />
    <q-btn color="white" text-color="black" label="Z" :to="{name: 'z'}" />
    {{ env('NODE_ENV') }}
    <component-search/>
  </div>
</template>
