<script lang="ts">
import { defineComponent } from 'vue';
import { useQuasar } from 'quasar';
import helpers from 'src/composables/helpers-hook';

export default defineComponent({
  name: 'Y',
  components: {},
  setup() {
    const $q = useQuasar();
    $q.dark.set(false);

    let { cdnUrl, env } = helpers();
    console.log(cdnUrl(''));
    console.log(env('APP_SHORTNAME'));

    return {

    };
  }
});
</script>
<template>
  <div style='width: 1140px; margin: 0 auto;'>
    <h1>Y</h1>
    <q-btn color="white" text-color="black" label="Z" :to="{name: 'z'}" />
    <q-btn color="white" text-color="black" label="X" :to="{name: 'x'}" />

  </div>
</template>
