<script lang="ts">
import { computed, defineComponent, onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'src/store';
import makeReservationValidation from '../../composables/make-reservation-validation-hook';

export default defineComponent({
  name: 'MakeReservationPayment',
  components: {  },
  setup() {
    const store = useStore();
    const router = useRouter();

    let { validateDriver, validatePayment } = makeReservationValidation();

    const selectedPaymentMethod = computed((): string => store.state.makeReservation.paymentMethod);
    const paymentMethod = ref(selectedPaymentMethod.value);

    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const allowStepPayment = computed((): boolean => store.getters['makeReservation/allowStepPayment']);

    onBeforeMount(() => {
      validateDriver();

      if (!allowStepPayment.value) {
        void router.back();
      }

      void store.dispatch('global/setMeta', {
        title: 'Ödeme Yöntemi',
        description: '',
        keywords: ''
      });
    });

    const setPaymentMethod = () => {
      void store.dispatch('makeReservation/setPaymentMethod', paymentMethod.value);
    };

    const goStepComplete = () => {
      if (!validatePayment()) {
        return;
      }

      void router.push({name: 'makeReservationSummary'});
    }

    return {
      paymentMethod,
      setPaymentMethod,
      goStepComplete,
    };
  }
});
</script>
<template>
  <div class="q-page-container-content">
    <q-card class="q-mt-md" bordered>
      <q-card-section>
        <div class="text-h6">Ödeme Yöntemi</div>
      </q-card-section>
      <q-separator />
      <q-list padding class="q-mt-md">
        <q-item tag="label" v-ripple>
          <q-item-section side top>
            <q-radio color="primary" v-model="paymentMethod" val="cash" @update:model-value="setPaymentMethod" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Teslimde Nakit</q-item-label>
            <q-item-label caption>
              Aracınızı teslim alırken elden nakit olarak ödeyin
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item tag="label" v-ripple>
          <q-item-section side top>
            <q-radio color="primary" v-model="paymentMethod" val="credit-card" @update:model-value="setPaymentMethod" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Teslimde Kredi Kartı</q-item-label>
            <q-item-label caption>
              Aracınızı teslim alırken kredi veya banka kartı ile ödeyin
            </q-item-label>
          </q-item-section>
        </q-item>

        <!--      <q-item tag="label" v-ripple>-->
        <!--        <q-item-section side top>-->
        <!--          <q-radio color="primary" v-model="paymentMethod" val="bank-transfer" @update:model-value="setPaymentMethod" />-->
        <!--        </q-item-section>-->

        <!--        <q-item-section>-->
        <!--          <q-item-label>Banka Transferi</q-item-label>-->
        <!--          <q-item-label caption>-->
        <!--            Rezervasyon onayından sonra banka transferi ile ödeme yapın.-->
        <!--          </q-item-label>-->
        <!--        </q-item-section>-->
        <!--      </q-item>-->

        <!--      <q-item tag="label" v-ripple>-->
        <!--        <q-item-section side top>-->
        <!--          <q-radio color="primary" v-model="paymentMethod" val="online" @update:model-value="setPaymentMethod" />-->
        <!--        </q-item-section>-->

        <!--        <q-item-section>-->
        <!--          <q-item-label>Online Kredi Kartı</q-item-label>-->
        <!--          <q-item-label caption>-->
        <!--            Rezervasyonu oluşturduktan sonra online ortamda kredi veya banka kartınızla güvenli ödeme yapabilirsiniz.-->
        <!--          </q-item-label>-->
        <!--        </q-item-section>-->
        <!--      </q-item>-->
      </q-list>
    </q-card>
    <q-page-sticky class="q-pa-md" position="bottom" v-if="$q.platform.is.mobile">
      <div class="full-width row justify-between items-start content-start">
        <q-btn
          flat
          dense
          icon="fas fa-arrow-left"
          label="SÜRÜCÜ BİLGİSİ"
          :to="{name: 'makeReservationDriver'}"
        />
        <q-btn
          color="primary"
          icon-right="fas fa-arrow-right"
          label="BİLGİ KONTROL"
          @click="goStepComplete"
        />
      </div>
    </q-page-sticky>
    <div class="q-mt-md full-width row justify-between items-start content-start" v-if="!$q.platform.is.mobile">
      <q-btn
        flat
        dense
        icon="fas fa-arrow-left"
        label="SÜRÜCÜ BİLGİSİ"
        :to="{name: 'makeReservationDriver'}"
      />
      <q-btn
        color="primary"
        icon-right="fas fa-arrow-right"
        label="BİLGİ KONTROL"
        @click="goStepComplete"
      />
    </div>
  </div>
</template>
