<script lang="ts">
import { computed, defineComponent, onBeforeMount, onMounted, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'src/store';
import { api } from 'boot/axios';
import { MakeReservationStateInterface } from 'src/store/make-reservation/state';
import { SearchStateInterface } from 'src/store/search/state';
import {
  AxiosRentalStoreInterface,
  DriverInfoReservationInterface,
  ExtraReservationInterface
} from 'src/models/makeReservation';
import makeReservationValidation from 'src/composables/make-reservation-validation-hook';
import { useQuasar } from 'quasar';

export default defineComponent({
  name: 'MakeReservationSummary',
  components: {  },
  setup() {
    const $q = useQuasar();
    const store = useStore();
    const router = useRouter();

    let { validateAll } = makeReservationValidation();

    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const allowStepSummary = computed((): boolean => store.getters['makeReservation/allowStepSummary']);

    const onStoring = ref(<boolean> false);

    const pickupPoint = ref(<null | string> null);
    const dropPoint = ref(<null | string> null);
    const pickupAt = ref(<null | string> null);
    const dropAt = ref(<null | string> null);
    const rentalDay = ref(<number> 0);
    const vehicle = ref(<null | string> null);
    const extras = ref(<ExtraReservationInterface[]> []);

    const driverName = ref(<null | string> null);
    const country = ref(<null | string> null);
    const email = ref(<null | string> null);
    const phone = ref(<null | string> null);
    const birthDate = ref(<null | string> null);

    const currencyCode = ref(<null | string> null);
    const vehicleAmount = ref(<null | number> null);
    const extraAmount = ref(<null | number> null);
    const rentalAmount = ref(<null | number> null);
    const paymentMethod = ref(<null | string> null);

    const searchData = computed((): SearchStateInterface => store.state.search);
    const reservationData = computed((): MakeReservationStateInterface => store.state.makeReservation);

    const notes = reactive({
      customer: '',
      pickupPoint: '',
      dropPoint: '',
    });

    onBeforeMount(() => {
      validateAll();

      if (!allowStepSummary.value) {
        void router.back();
      }

      void store.dispatch('global/setMeta', {
        title: 'Rezervasyon Özeti',
        description: '',
        keywords: ''
      });
    });

    onMounted(() => {
      pickupPoint.value = <string> searchData.value.pickupPoint?.name;
      dropPoint.value = searchData.value.dropPoint === null ? null : searchData.value.dropPoint?.name;
      const pickupDateTime = <Date> searchData.value.pickupDateTime;
      pickupAt.value = `${('0' + pickupDateTime.getDate().toString()).slice(-2)}-${('0' + (pickupDateTime.getMonth() + 1).toString()).slice(-2)}-${pickupDateTime.getFullYear()} ${('0' + pickupDateTime.getHours().toString()).slice(-2)}:${('0' + pickupDateTime.getMinutes().toString()).slice(-2)}`;
      const dropDateTime = <Date> searchData.value.dropDateTime;
      dropAt.value = `${('0' + dropDateTime.getDate().toString()).slice(-2)}-${('0' + (dropDateTime.getMonth() + 1).toString()).slice(-2)}-${dropDateTime.getFullYear()} ${('0' + dropDateTime.getHours().toString()).slice(-2)}:${('0' + dropDateTime.getMinutes().toString()).slice(-2)}`;
      rentalDay.value = <number> searchData.value.rentalDay;
      vehicle.value = <string> reservationData.value.vehicle?.name;
      extras.value = reservationData.value.extras;

      // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
      driverName.value = <string> reservationData.value.driverInfo.firstName + ' ' + reservationData.value.driverInfo.lastName;
      country.value = <string> reservationData.value.driverInfo.country?.name;
      email.value = <string> reservationData.value.driverInfo.email;
      phone.value = <string> reservationData.value.driverInfo.phone;
      // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
      birthDate.value = <string> reservationData.value.driverInfo.birthDate.day + ' ' + reservationData.value.driverInfo.birthDate.month + ' ' + reservationData.value.driverInfo.birthDate.year;

      currencyCode.value = reservationData.value.currencyCode;
      vehicleAmount.value = <number> reservationData.value.vehicle?.calculation.total.total;
      extraAmount.value = reservationData.value.extraAmount;
      rentalAmount.value = reservationData.value.rentalAmount;
      paymentMethod.value = reservationData.value.paymentMethod;
    });

    const completeReservation = () => {
      onStoring.value = true;
      api.post('reservation/store', {
        work: {
          vehicleId: reservationData.value.vehicle?.id,
          pickupPointId: searchData.value.pickupPoint?.id,
          dropPointId: searchData.value.dropPoint?.id,
          pickupAt: searchData.value.pickupDateTimeString,
          dropAt: searchData.value.dropDateTimeString,
        },
        customer: {
          countryCode: reservationData.value.driverInfo.country?.code,
          firstName: reservationData.value.driverInfo.firstName,
          lastName: reservationData.value.driverInfo.lastName,
          email: reservationData.value.driverInfo.email,
          phone: reservationData.value.driverInfo.phone,
          // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
          birthDate: `${reservationData.value.driverInfo.birthDate.year}-${reservationData.value.driverInfo.birthDate.month}-${reservationData.value.driverInfo.birthDate.day}`,
          licenseAge: reservationData.value.driverInfo.licenseAge,
        },
        rental: {
          currencyCode: reservationData.value.currencyCode,
          vehicleAmount: reservationData.value.vehicle?.calculation.total.total,
          additionalAmount: reservationData.value.additionalAmounts.total,
          extraAmount: reservationData.value.extraAmount,
          rentalAmount: reservationData.value.rentalAmount,
          paymentMethod: reservationData.value.paymentMethod,
          minDriverAge: reservationData.value.vehicle?.minDriverAge,
          minLicenseAge: reservationData.value.vehicle?.minLicenseAge,
        },
        additionalAmounts: reservationData.value.additionalAmounts,
        extras: reservationData.value.extras,
        notes: [
          {
            code: 'customer',
            content: notes.customer === '' ? null : notes.customer,
          },
          {
            code: 'pickup-point',
            content: notes.pickupPoint === '' ? null : notes.pickupPoint,
          },
          {
            code: 'drop-point',
            content: notes.dropPoint === '' ? null : notes.dropPoint,
          }
        ]
      })
        .then((response: AxiosRentalStoreInterface) => {
          if (response.data.status) {
            void store.dispatch('makeReservation/setCompletedData', {
              // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/restrict-template-expressions,@typescript-eslint/no-unsafe-assignment
              code: response.data.payload.code,
              email: reservationData.value.driverInfo.email,
              paymentMethodName: reservationData.value.paymentMethod,
              amount: reservationData.value.rentalAmount,
              currencyCode: reservationData.value.currencyCode,
            });

            // void store.dispatch('search/fill', {
            //   pickupPoint: null,
            //   dropPoint: null,
            //   differentReturnPoint: null,
            //   pickupDateTime: null,
            //   dropDateTime: null,
            // });

            void store.dispatch('makeReservation/setVehicle', null);
            void store.dispatch('makeReservation/setExtras', []);
            void store.dispatch('makeReservation/setExtraAmount', 0);
            void store.dispatch('makeReservation/setExtraAmount', <DriverInfoReservationInterface> {});
            void store.dispatch('makeReservation/setPaymentMethod', 'cash');
            void store.dispatch('makeReservation/setRentalAmount', 0);

            void router.push({name: 'makeReservationCompleted'});
          } else {
            $q.notify({
              color: 'negative',
              position: 'top-right',
              message: response.data.message === null ? 'Rezervasyon oluşturulamadı' : response.data.message,
              icon: 'report_problem'
            });
          }
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Rezervasyon oluşturulmadı',
            icon: 'report_problem'
          });
        })
        .finally(() => {
          onStoring.value = true;
        });
    };

    return {
      pickupPoint,
      dropPoint,
      pickupAt,
      dropAt,
      rentalDay,
      vehicle,
      extras,

      driverName,
      country,
      email,
      phone,
      birthDate,

      currencyCode,
      vehicleAmount,
      extraAmount,
      rentalAmount,
      paymentMethod,

      searchData,
      notes,

      onStoring,

      completeReservation
    };
  }
});
</script>
<template>
  <div class="q-page-container-content">
    <q-card class="q-mt-md" bordered>
      <q-card-section>
        <div class="text-h6">Rezervasyon Özeti</div>
        <div class="text-subtitle2">Bilgilerin doğruluğunu teyit ederek rezervasyonu tamamlayabilirsiniz</div>
      </q-card-section>
      <q-separator />
      <q-card-section class="">
        <div class="row q-col-gutter-sm" :class="$q.screen.sm ? 'justify-between' : 'justify-start'">
          <div class="col-md-4 col-sm-auto col-xs-12">
            <q-list class="full-width">
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="place" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Alış / Dönüş Yeri</q-item-label>
                  <q-item-label caption>
                    <span>{{ pickupPoint }}</span>
                    <span v-if="dropPoint !== null">
                  / {{ dropPoint }}
                </span>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="event" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Alış / Dönüş Tarihi</q-item-label>
                  <q-item-label caption>
                    {{ pickupAt }} / {{ dropAt }} ({{ rentalDay }} Gün)
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="fas fa-car-side" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Araç</q-item-label>
                  <q-item-label caption>{{ vehicle }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="widgets" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Ekstra</q-item-label>
                  <q-item-label caption>
                    <div v-if="extras.length === 0">Seçilmedi</div>
                    <div v-else>
                  <span v-for="(extra, i) in extras" :key="`stored-extra-${i}`">
                    {{ extra.name }}
                    <i v-if="i + 1 < extras.length">, </i>
                  </span>
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
          <div class="col-md-4 col-sm-auto col-xs-12">
            <q-list class="full-width">
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="fas fa-user" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Ad Soyad</q-item-label>
                  <q-item-label caption>{{ driverName }} ({{ country }})</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="email" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>E-Posta</q-item-label>
                  <q-item-label caption>{{ email }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="phone" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Telefon</q-item-label>
                  <q-item-label caption>{{ phone }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="event" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Doğum Tarihi</q-item-label>
                  <q-item-label caption>{{ birthDate }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
          <div class="col-md-4 col-sm-auto col-xs-12">
            <q-list class="full-width">
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="fas fa-car-side" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Araç Ücreti</q-item-label>
                  <q-item-label caption>{{ vehicleAmount }} {{ currencyCode }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="widgets" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Ekstra Ücreti</q-item-label>
                  <q-item-label caption>{{ extraAmount }} {{ currencyCode }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="fas fa-money-bill" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Toplam Tutar</q-item-label>
                  <q-item-label caption>{{ rentalAmount }} {{ currencyCode }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="fas fa-wallet" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Ödeme Yöntemi</q-item-label>
                  <q-item-label caption>{{ paymentMethod }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mt-md" bordered>
      <q-card-section>
        <div class="text-h6">Not ve Diğer Bilgiler</div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div v-if="searchData.pickupPoint.type === 'airport'" class="col-12 col-md-6">
            <q-input
              v-model="notes.pickupPoint"
              placeholder="Alış Yeri Uçuş Kodu"
              hint="Alış Yeri Uçuş Kodu"
              hide-hint
              filled
            />
          </div>
          <div v-if="(searchData.dropPoint !== null && searchData.dropPoint.type === 'airport') || (searchData.dropPoint === null && searchData.pickupPoint.type === 'airport')" class="col-12 col-md-6">
            <q-input
              v-model="notes.dropPoint"
              placeholder="Dönüş Yeri Uçuş Kodu"
              hint="Dönüş Yeri Uçuş Kodu"
              hide-hint
              filled
            />
          </div>
          <div class="col-12">
            <q-input
              v-model="notes.customer"
              placeholder="Rezervasyon Notu"
              hint="Rezervasyon Notu"
              hide-hint
              filled
              type="textarea"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-page-sticky class="q-pa-md" position="bottom" v-if="$q.platform.is.mobile">
      <div class="full-width row justify-between items-start content-start">
        <q-btn
          flat
          dense
          icon="fas fa-arrow-left"
          label="ÖDEME YÖNTEMİ"
          :to="{name: 'makeReservationPayment'}"
        />
        <q-btn
          color="primary"
          icon-right="fas fa-check"
          label="TAMAMLA"
          :disable="onStoring"
          @click="completeReservation"
        />
      </div>
    </q-page-sticky>
    <div class="q-mt-md full-width row justify-between items-start content-start" v-if="!$q.platform.is.mobile">
      <q-btn
        flat
        dense
        icon="fas fa-arrow-left"
        label="ÖDEME YÖNTEMİ"
        :to="{name: 'makeReservationPayment'}"
      />
      <q-btn
        color="primary"
        icon-right="fas fa-check"
        label="TAMAMLA"
        :disable="onStoring"
        @click="completeReservation"
      />
    </div>
  </div>
</template>
