<script lang="ts">
import { computed, defineComponent, onBeforeMount, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'src/store';
// import { event } from 'boot/gtag';
import { useGtm } from '@gtm-support/vue-gtm';
import helpers from '../../composables/helpers-hook';
// import { useMeta } from 'quasar';

export default defineComponent({
  name: 'MakeReservationCompleted',
  components: {  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const gtm = useGtm();

    let { cdnUrl, env } = helpers();

    const completed = computed(() => store.state.makeReservation.completed);

    onBeforeMount(() => {
      if (completed.value.code === null) {
        void router.back();
      }

      void store.dispatch('global/setMeta', {
        title: 'Rezervasyon Oluşturuldu',
        description: '',
        keywords: ''
      });
    });

    onMounted(() => {
      // event('conversion', {
      //   // send_to: 'AW-10782016191/kSR3CLii8vgCEL-FopUo',
      //   value: completed.value.amount,
      //   currency: completed.value.currencyCode
      // });

      if (gtm?.enabled()) {
        window.dataLayer?.push({
          event: 'rental',
          amount: completed.value.amount,
          currencyCode: completed.value.currencyCode,
          rentalCode: completed.value.code,
        });
      }
    });

    // useMeta(() => {
    //   return {
    //     script: {
    //       googleAdsConversion: {
    //         type: 'application/javascript',
    //         // innerHTML: 'gtag(\'event\', \'conversion\', {\'send_to\': \'AW-10782600069/MPN4COCXz_gCEIXXxZUo\'});'
    //         innerHTML: 'gtag(\'event\', \'conversion\', {\'send_to\': \'AW-10782016191/kSR3CLii8vgCEL-FopUo\', \'value\': 0.0, \'currency\': \'TRY\'});'
    //       }
    //     },
    //   };
    // });

    return {
      data: completed,
      cdnUrl,
      env
    };
  }
});
</script>
<template>
  <q-page>
    <q-card>
      <q-parallax
        :src="cdnUrl('images/web/header-bg-1.webp')"
        :height="250">
        <div class="q-page-container-content">
          <div class="text-center">
            <h4>Rezervasyon Oluşturuldu</h4>
            <h5>{{ data.code }}</h5>
          </div>
        </div>
      </q-parallax>
    </q-card>
    <div class="q-page-container-content">
      <q-list bordered class="q-mt-md">
<!--        <q-item>-->
<!--          <q-item-section>-->
<!--            <q-item-label>Dikkat Edilmesi Gerekenler</q-item-label>-->
<!--          </q-item-section>-->
<!--        </q-item>-->
<!--        <q-separator spaced />-->
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="primary" name="check" />
          </q-item-section>
          <q-item-section>{{ data.code }} numaralı rezervasyon oluşturuldu</q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="primary" name="check" />
          </q-item-section>
          <q-item-section>Bilgiler {{ data.email }} e-posta adresine iletildi</q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="orange" name="schedule" />
          </q-item-section>
          <q-item-section>Sistem onayı bekleniyor (Onay verildiğinde e-posta ile tekrar bildirim yapılacak)</q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="orange" name="schedule" />
          </q-item-section>
          <q-item-section>Araç tesliminde {{ data.amount }} {{ data.currencyCode }} tutarında ödeme yapılacak ({{ data.paymentMethodName }})</q-item-section>
        </q-item>
        <q-separator spaced />
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="red" name="priority_high" />
          </q-item-section>
          <q-item-section>Araç teslimatında sürücü belgesi ve pasaport gerekmektedir</q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="red" name="priority_high" />
          </q-item-section>
          <q-item-section>Geliş tarihinizde değişiklik olması durumunda gecikmeden bilgi verilmelidir</q-item-section>
        </q-item>
        <q-separator spaced />
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="blue" name="call" />
          </q-item-section>
          <q-item-section>Değişiklik ve destek talepleriniz için her zaman çağrı merkezimizi (<a :href="`tel:${ env('PHONE_NUMBER', '').replace(/ /g, '') }`" class="text-deep-orange d-contents">{{ env('PHONE_NUMBER', '') }}</a>) arayabilirsiniz</q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section avatar>
            <q-icon color="blue" name="info" />
          </q-item-section>
          <q-item-section>Lütfen rezervasyon kodunu saklayın. Rezervasyon hakkında bilgi almak istediğinizde kod ve e-posta adresinizi kullanabilirsiniz</q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section>Bizi tercih ettiğiniz için teşekkür ederiz. Kaliteli hizmet anlayışımızı daha fazla kişiye ulaştırmamız için bizi arkadaşlarınıza tavsiye edebilirsiniz</q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>
