<script lang="ts">
import { computed, defineComponent, onBeforeMount, reactive, ref } from 'vue';
import { useStore } from 'src/store';
import { useRouter } from 'vue-router';
import {
  AxiosCountriesInterface,
  CountrySelectInterface,
  DriverInfoReservationInterface
} from 'src/models/makeReservation';
import { api } from 'boot/axios';
import { useQuasar } from 'quasar';
import { qSelectDoneFn } from 'src/models/general';
import makeReservationValidation from '../../composables/make-reservation-validation-hook';

export default defineComponent({
  name: 'makeReservationDriver',
  components: {  },
  setup() {
    const $q = useQuasar();
    const store = useStore();
    const router = useRouter();
    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const allowStepDriver = computed((): boolean => store.getters['makeReservation/allowStepDriver']);
    let { validateExtra, validateDriver } = makeReservationValidation();

    const isValidModel = ref(<boolean> false);
    const firstNameModel = ref(<string | null> '');
    const lastNameModel = ref(<string | null> '');
    const emailModel = ref(<string | null> '');
    const phoneModel = ref(<string | null> '');
    const countryModel = ref(<CountrySelectInterface | null> null);
    const countryItems = ref(<CountrySelectInterface[]> []);
    const countrySelectOptions = ref(<CountrySelectInterface[]> []);
    const licenseAgeModel = ref(<string | null> '');
    const licenseAgeItems = <string[]> ['1', '2', '3', '4', '5', '5+'];
    const birthDayModel = ref(<string | null> '');
    const birthMonthModel = ref(<string | null> '');
    const birthYearModel = ref(<string | null> '');
    const birthDateModel = ref(<string> '');
    const curDate = new Date();
    const maxDate = `${(curDate.getFullYear() - 18)}/${('0' + (curDate.getMonth() + 1).toString()).slice(-2)}/${('0' + curDate.getDate().toString()).slice(-2)}`;
    const maxBirthYearMonth = ref(`${(curDate.getFullYear() - 18)}/${('0' + (curDate.getMonth() + 1).toString()).slice(-2)}`);
    const defaultBirthYearMonth = ref(`${(curDate.getFullYear() - 23)}/${('0' + (curDate.getMonth() + 1).toString()).slice(-2)}`);

    var form = reactive({
      firstName: {
        model: firstNameModel,
        rules: [],
      },
      lastName: {
        model: lastNameModel,
        rules: [],
      },
      email: {
        model: emailModel,
        rules: [],
      },
      phone: {
        model: phoneModel,
        rules: [],
      },
      country: {
        model: countryModel,
        rules: [],
      },
      licenseAge: {
        model: licenseAgeModel,
        rules: [],
      },
      birthDay: {
        model: birthDayModel,
        rules: [],
      },
      birthMonth: {
        model: birthMonthModel,
        rules: [],
      },
      birthYear: {
        model: birthYearModel,
        rules: [],
      }
    })

    const driverInfo = computed((): DriverInfoReservationInterface | null => store.state.makeReservation.driverInfo);

    onBeforeMount(() => {
      validateExtra();

      if (!allowStepDriver.value) {
        void router.back();
      }

      void store.dispatch('global/setMeta', {
        title: 'Sürücü Bilgisi',
        description: '',
        keywords: ''
      });

      api.get('reservation/countries')
        .then((response: AxiosCountriesInterface) => {
          countryItems.value = response.data;
          countrySelectOptions.value = response.data;
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Ülke listesi alınamadı',
            icon: 'report_problem'
          });
        })

      if (driverInfo.value !== null) {
        form.firstName.model = driverInfo.value.firstName;
        form.lastName.model = driverInfo.value.lastName;
        form.email.model = driverInfo.value.email;
        form.phone.model = driverInfo.value.phone;
        form.country.model = driverInfo.value.country;

        if (form.country.model !== null && countryItems.value.filter(x => x.code === form.country.model?.code).length === 0) {
          countryItems.value.push(form.country.model);
        }

        form.licenseAge.model = driverInfo.value.licenseAge;
        form.birthDay.model = driverInfo.value?.birthDate?.day === null ? null : driverInfo.value?.birthDate?.day.toString();
        form.birthMonth.model = driverInfo.value?.birthDate?.month === null ? null : driverInfo.value?.birthDate?.month.toString();
        form.birthYear.model = driverInfo.value?.birthDate?.year === null ? null : driverInfo.value?.birthDate?.year.toString();

        if (driverInfo.value?.birthDate?.day !== null && driverInfo.value?.birthDate?.month !== null && driverInfo.value?.birthDate?.year !== null) {
          birthDateModel.value = `${driverInfo.value.birthDate.day}-${driverInfo.value.birthDate.month}-${driverInfo.value.birthDate.year}`;
        }
      }
    });

    const countryFilterFn = (searchText: string, doneFn: qSelectDoneFn) => {
      doneFn(
        () => {
          const needle = searchText.toLowerCase();
          countrySelectOptions.value = countryItems.value.filter((v: CountrySelectInterface) => {
            return v.name.toLowerCase().indexOf(needle) > -1 || v.code.toLowerCase().indexOf(needle) > -1
          });
        },
        (ref) => {
          // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
          if (searchText !== '' && ref.options!.length > 0) {
            ref.setOptionIndex(-1);
            ref.moveOptionSelection(1, true);
          }
        }
      );
    };

    const birthDatePickerOptions = (date: string) => {
      return date <= maxDate;
    }

    const setDriverInfo = () => {
      // if (firstName.value !== null && firstName.value !== '') {
      //
      // }
      void store.dispatch('makeReservation/setDriverInfo', {
        isValid: isValidModel.value,
        firstName: firstNameModel.value,
        lastName: lastNameModel.value,
        email: emailModel.value,
        phone: phoneModel.value,
        country: countryModel.value,
        licenseAge: licenseAgeModel.value,
        birthDate: {
          day: birthDayModel.value === null || birthDayModel.value === '' ? null : birthDayModel.value,
          month: birthMonthModel.value === null || birthMonthModel.value === '' ? null : birthMonthModel.value,
          year: birthYearModel.value === null || birthYearModel.value === '' ? null : birthYearModel.value,
        },
      });
    };

    const setBirthDate = () => {
      const birthDateParts = birthDateModel.value.split('-');

      if (birthDateParts.length !== 3) {
        return;
      }

      birthDayModel.value = birthDateParts[0];
      birthMonthModel.value = birthDateParts[1];
      birthYearModel.value = birthDateParts[2];

      setDriverInfo();
    }

    const goStepPayment = () => {
      if (!validateDriver()) {
        return;
      }

      void router.push({name: 'makeReservationPayment'});
    }

    return {
      firstNameModel,
      lastNameModel,
      emailModel,
      phoneModel,
      countryModel,
      countrySelectOptions,
      countryFilterFn,
      licenseAgeModel,
      licenseAgeItems,
      birthDayModel,
      birthMonthModel,
      birthYearModel,
      birthDateModel,
      defaultBirthYearMonth,
      maxBirthYearMonth,
      birthDatePickerOptions,
      setDriverInfo,
      setBirthDate,
      goStepPayment
    };
  }
});
</script>
<template>
  <div class="q-page-container-content">
    <q-card class="q-mt-md" bordered>
      <q-card-section>
        <div class="text-h6">Sürücü Bilgisi</div>
      </q-card-section>
      <q-separator />
      <q-card-section class="row q-col-gutter-sm">
        <q-input
          class="col-sm-6 col-xs-6"
          color="primary"
          v-model="firstNameModel"
          label="Ad"
          @blur="setDriverInfo" />
        <q-input
          class="col-sm-6 col-xs-6"
          color="primary"
          v-model="lastNameModel"
          label="Soyad"
          @blur="setDriverInfo" />
        <q-input
          class="col-sm-6 col-xs-6"
          color="primary"
          v-model="emailModel"
          label="E-Posta"
          :rules="[val => /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/]"
          @blur="setDriverInfo" />
        <q-input
          class="col-sm-6 col-xs-6"
          color="primary"
          v-model="phoneModel"
          label="Telefon"
          @blur="setDriverInfo" />
        <q-select
          class="col-sm-4 col-xs-6"
          color="primary"
          v-model="countryModel"
          :options="countrySelectOptions"
          option-value="code"
          option-label="name"
          @filter="countryFilterFn"
          use-input
          input-debounce="0"
          label="Ülke"
          @blur="setDriverInfo" />
        <q-select
          class="col-sm-2 col-xs-6"
          color="primary"
          v-model="licenseAgeModel"
          :options="licenseAgeItems"
          label="Ehliyet Yaşı"
          @blur="setDriverInfo" />
        <q-input
          class="col-sm-6 col-xs-12"
          color="primary"
          v-model="birthDateModel"
          fill-mask mask="##-##-####"
          hint="Gün - Ay - Yıl"
          :rules="[val => /^([1-9]|[12][0-9]|3[01])(\-|\s)?(0[1-9]|1[12])\2(19[0-9]{2}|200[0-9]|201[0-8])$/]"
          label="Doğum Tarihi"
          @blur="setBirthDate"
          >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date v-model="birthDateModel" color="primary" mask="DD-MM-YYYY" minimal first-day-of-week="1" :options="birthDatePickerOptions" years-in-month-view
                        default-view="Years" :default-year-month="defaultBirthYearMonth" :navigation-max-year-month="maxBirthYearMonth"
                        @update:model-value="setBirthDate">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Kapat" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <div class="col-sm-6 col-xs-12">
<!--          <div class="row q-col-gutter-sm">-->
<!--            <q-input-->
<!--              class="col-xs-4"-->
<!--              color="primary"-->
<!--              v-model="birthDayModel"-->
<!--              label="Gün"-->
<!--              @blur="setDriverInfo" />-->
<!--            <q-input-->
<!--              class="col-xs-4"-->
<!--              color="primary"-->
<!--              v-model="birthMonthModel"-->
<!--              label="Ay"-->
<!--              @blur="setDriverInfo" />-->
<!--            <q-input-->
<!--              class="col-xs-4"-->
<!--              color="primary"-->
<!--              v-model="birthYearModel"-->
<!--              label="Yıl"-->
<!--              @blur="setDriverInfo" />-->
<!--          </div>-->
        </div>
      </q-card-section>
    </q-card>
    <q-page-sticky class="q-pa-md" position="bottom" v-if="$q.platform.is.mobile">
      <div class="full-width row justify-between items-start content-start">
        <q-btn
          flat
          dense
          icon="fas fa-arrow-left"
          label="EKSTRA SEÇİMİ"
          :to="{name: 'makeReservationExtra'}"
        />
        <q-btn
          color="primary"
          icon-right="fas fa-arrow-right"
          label="ÖDEME YÖNTEMİ"
          @click="goStepPayment"
        />
      </div>
    </q-page-sticky>
    <div class="q-mt-md full-width row justify-between items-start content-start" v-if="!$q.platform.is.mobile">
      <q-btn
        flat
        dense
        icon="fas fa-arrow-left"
        label="EKSTRA SEÇİMİ"
        :to="{name: 'makeReservationExtra'}"
      />
      <q-btn
        color="primary"
        icon-right="fas fa-arrow-right"
        label="ÖDEME YÖNTEMİ"
        @click="goStepPayment"
      />
    </div>
  </div>
</template>
