// app global css in SCSS form
body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.d-contents {
  display: contents;
}

.q-page-container-content {
  width: 1280px;
  max-width: 98%;
  margin: 0 auto;
}

i.fas {
  font-size: 1.25em;
}

.td-mw {
  width: 1%;
  white-space: nowrap;
}

.page-head {
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
}

.page-body {
  h2 {
    font-size: 2rem;
    margin: 0;
  }
}

.card--date-picker.search-picker {
  .q-card__section {
    .q-date {
      .q-date__main.column {
        .q-date__content {
          .q-date__view.q-date__calendar {
            .q-date__navigation {
              div { // .q-date__arrow

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                  display: none;
                }

                .q-btn {
                  .q-icon {
                    font-size: 2rem;
                  }

                  &[disabled] {
                    .q-icon {
                      color: $grey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
