<script lang="ts">
import { defineComponent, onMounted } from 'vue';
import { api, setBrowserToken } from 'boot/axios';
import { AxiosResponse } from 'axios';
import { useStore } from 'src/store';
import { date } from 'quasar';

interface TokenResponseInterface extends AxiosResponse {
  data: {
    token: null | string;
  }
}

interface SettingsResponseInterface extends AxiosResponse {
  data: {
    searchMaxDateAt: string;
  }
}

export default defineComponent({
  name: 'App',

  setup () {
    const store = useStore();
    onMounted(() => {
      const token = localStorage.getItem('BrowserToken');

      if (token === null || token === '') {
        void api.get('web/browser-session-token')
          .then((response: TokenResponseInterface) => {
            if (response.data.token !== null) {
              localStorage.setItem('BrowserToken', response.data.token);
              setBrowserToken(response.data.token);
            }
          });
      }
    });

    void api.get('web/settings')
      .then((response: SettingsResponseInterface) => {
        void store.dispatch('search/setMaxDateTime', date.extractDate(response.data.searchMaxDateAt + ' 23:55', 'YYYY-MM-DD HH:mm'));
      });

    return {}
  }
})
</script>

<template>
  <router-view />
</template>
