<script lang="ts">

import { useMeta, useQuasar } from 'quasar';
import { computed, defineComponent, ref, onMounted, watch } from 'vue';
import { useStore } from 'src/store';
import helpers from '../composables/helpers-hook';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'MainLayout',

  components: {},

  setup () {
    const store = useStore();
    const $q = useQuasar();
    const route = useRoute();
    let { env } = helpers();

    const title = computed((): string => store.state.global.meta.title);
    const description = computed((): string => store.state.global.meta.description);
    const keywords = computed((): string => store.state.global.meta.keywords);

    const view = ref('hhh Lpr fff');

    useMeta(() => {
      return {
        title: title.value,
        // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
        titleTemplate: (title: string) => `${title} | ${env('APP_NAME', '')}`,
        meta: {
          description: { name: 'description', content: description.value },
          keywords: { name: 'keywords', content: keywords.value },
          // equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
          // note: for Open Graph type metadata you will need to use SSR, to ensure page is rendered by the server
          // ogTitle:  {
          //   property: 'og:title',
          //   template (ogTitle: string) {
          //     return `${ogTitle} - ${process.env.APP_NAME}`
          //   }
          // }
        },
        // link: {
        //   material: { rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons' }
        // },
        // script: {
        //   ldJson: {
        //     type: 'application/ld+json',
        //     innerHTML: `{ "@context": "http://schema.org" }`
        //   }
        // },
        // htmlAttr: {},
        // bodyAttr: {},
        // noscript: {
        //   default: 'This is content for browsers with no JS (or disabled JS)'
        // }
      };
    });

    onMounted(() => {
      if ($q.screen.lt.md) {
        view.value = 'hhh Lpr fFf'
      }
    });

    watch(
      () => route.name,
      routeName => {
        if ($q.screen.lt.md) {
          if (['makeReservation', 'makeReservationExtra', 'makeReservationDriver', 'makeReservationPayment', 'makeReservationSummary'].findIndex(i => i === routeName) === -1) {
            view.value = 'hhh Lpr fFf';
          } else {
            view.value = 'hhh Lpr fff';
          }
        }
      }
    )

    return {
      env,
      view
    }
  }
})
</script>

<template>
  <q-layout :view="view">
    <q-header class="bg-transparent text-black">
      <q-toolbar class="q-page-container-content">
        <q-toolbar-title>
          <q-btn
            flat
            color="accent"
            :ripple="false"
            no-caps
            icon="compare_arrows"
            :label="env('APP_NAME', '')"
            :to="{name: 'home'}"
            :class="$q.screen.lt.md ? 'full-width' : ''"
          />
        </q-toolbar-title>
        <q-btn
          dense
          flat
          icon="search"
          label="Rezervasyon Sorgula"
          class="desktop-only q-mr-md"
          :to="{name: 'rentalManage'}" />
        <q-btn
          dense
          flat
          icon="currency_exchange"
          label="EUR"
          class="q-mr-sm"
          v-if="$q.platform.is.desktop"
        >
          <q-menu>
            <q-list>
              <q-item dense disabled>
                <q-item-section>Türk Lirası</q-item-section>
                <q-item-section side>
                  TRY
                </q-item-section>
              </q-item>
              <q-item dense clickable active v-close-popup>
                <q-item-section>Euro</q-item-section>
                <q-item-section side>
                  EUR
                </q-item-section>
              </q-item>
              <q-item dense disabled>
                <q-item-section>Pound</q-item-section>
                <q-item-section side>
                  GBP
                </q-item-section>
              </q-item>
              <q-item dense disabled>
                <q-item-section>Dollar</q-item-section>
                <q-item-section side>
                  USD
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-btn
          dense
          flat
          icon="translate"
          label="TR"
          v-if="$q.platform.is.desktop"
        >
          <q-menu>
            <q-list>
              <q-item dense clickable active v-close-popup>
                <q-item-section>Türkçe</q-item-section>
                <q-item-section side>TR</q-item-section>
              </q-item>
              <q-item dense disabled>
                <q-item-section>Deutsch</q-item-section>
                <q-item-section side>DE</q-item-section>
              </q-item>
              <q-item dense disabled>
                <q-item-section>English</q-item-section>
                <q-item-section side>EN</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

        <q-btn
          flat
          dense
          icon="menu"
          label="MENÜ"
          v-if="$q.platform.is.desktop"
        >
          <q-menu anchor="bottom right" self="top right"
                  transition-show="jump-down" transition-hide="jump-up">
            <q-list dense>
              <q-item clickable :to="{name: 'contact'}">
                <q-item-section>İletişim</q-item-section>
              </q-item>
              <q-item clickable :to="{name: 'about'}">
                <q-item-section>Hakkımızda</q-item-section>
              </q-item>
              <q-item clickable :to="{name: 'rental-conditions'}">
                <q-item-section>Kiralama Koşulları</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable :to="{ name: 'rentalManage' }">
                <q-item-section>Rezervasyon Sorgula</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="bg-grey-2">
      <q-toolbar v-if="$q.screen.lt.md" class="justify-between">
        <q-btn flat dense icon="phone" color="primary" :href="`tel:${ env('PHONE_NUMBER', '').replace(/ /g, '') }`" >Ara</q-btn>

        <q-btn flat dense icon="menu" color="grey">
          MENÜ
          <q-menu
            anchor="top middle" self="bottom middle"
            transition-show="jump-up" transition-hide="jump-down">
            <q-list>
              <q-item clickable :to="{name: 'home'}">
                <q-item-section>Anasayfa</q-item-section>
              </q-item>
              <q-item clickable :to="{name: 'contact'}">
                <q-item-section>İletişim</q-item-section>
              </q-item>
              <q-item clickable :to="{name: 'about'}">
                <q-item-section>Hakkımızda</q-item-section>
              </q-item>
              <q-item clickable :to="{name: 'rental-conditions'}">
                <q-item-section>Kiralama Koşulları</q-item-section>
              </q-item>
              <q-separator />
              <q-item class="desktop-hide" clickable :to="{ name: 'rentalManage' }">
                <q-item-section>Rezervasyon Sorgula</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

        <q-btn flat dense color="green" :href="`https://wa.me/${ env('PHONE_NUMBER', '').replace(/ /g, '').replace('+', '') }`" target="_blank">
          <q-icon name="whatsapp"/>
          <i>Whatsapp</i>
        </q-btn>

      </q-toolbar>
      <q-toolbar v-else class="q-page-container-content text-black">
        <span>Rehber</span>
        <q-space />
        <span>{{ env('APP_NAME', '') }} © 2022 Tüm Hakları Saklıdır</span>
        <q-space />
        <router-link :to="{name: 'contact'}" class="text-black">İletişim</router-link>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<style scoped lang="scss">
.q-header {
  box-shadow: 0 0 1px 1px $grey-3;

  .q-toolbar {
    height: 70px;

    .q-chip {
      .q-avatar {
        font-size: 2em;
      }

      &.q-chip--dense {
        .q-avatar {
          font-size: 1.5em;
        }
      }
    }
  }
}
.section--footer {
  box-shadow: 0 0 1px 1px $grey-3;
}
</style>
