<script lang="ts">

import { computed, defineComponent, onBeforeMount, onMounted, reactive, ref, watch } from 'vue';
import ComponentSearch from 'components/global/Search.vue';
import { useStore } from 'src/store';
import { useRoute, useRouter } from 'vue-router';
import { DeliveryPoint, Vehicle } from 'src/models/search';
import { ExtraReservationInterface } from 'src/models/makeReservation';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'MakeReservationLayout',

  components: {
    ComponentSearch
  },

  setup () {
    const store = useStore();
    const route = useRoute();
    const router = useRouter();

    let { cdnUrl } = helpers();

    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const allowStepDriver = computed((): boolean => store.getters['makeReservation/allowStepDriver']);
    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const allowStepPayment = computed((): boolean => store.getters['makeReservation/allowStepPayment']);
    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const allowStepSummary = computed((): boolean => store.getters['makeReservation/allowStepSummary']);

    const summaryVisible = ref(true);
    const searchRouterLink = reactive({
      name: 'search',
      params: {}
    });

    const pickupPoint = computed((): DeliveryPoint|null => store.state.search.pickupPoint);
    const searchIsReady = computed((): boolean => store.state.search.isReady);
    const vehicle = computed((): Vehicle | null => store.state.makeReservation.vehicle);
    const extras = computed((): ExtraReservationInterface[] | null => store.state.makeReservation.extras);
    const currencyCode = computed((): string => store.state.makeReservation.currencyCode);
    const rentalAmount = computed((): number => store.state.makeReservation.rentalAmount);

    if (pickupPoint.value !== null && pickupPoint.value.city.slug !== null) {
      searchRouterLink.name = 'searchSlug';
      searchRouterLink.params = {
        slug: pickupPoint.value.city.slug
      };
    }

    onBeforeMount(() => {
      if (!searchIsReady.value || vehicle.value === null) {
        void router.push({name: 'search'});
      }
    });

    onMounted(() => {
      if (route.name === 'makeReservation') {
        void router.push({name: 'makeReservationExtra'});
      }
    });

    watch(
      () => route.name,
      routeName => {
        summaryVisible.value = routeName !== 'makeReservationSummary';
      }
    )

    const search = () => {
      console.log('search again');
    }

    return {
      cdnUrl,
      summaryVisible,
      searchIsReady,
      allowStepDriver,
      allowStepPayment,
      allowStepSummary,
      vehicle,
      extras,
      currencyCode,
      rentalAmount,
      search,
      searchRouterLink,
    }
  }
})
</script>

<template>
  <q-page v-if="searchIsReady">
    <q-card v-if="$q.screen.gt.sm">
      <q-parallax
        :src="cdnUrl('images/web/header-bg-1.webp')"
        :height="250">
        <div class="q-page-container-content q-py-xl">
          <component-search :readonly="true"/>
        </div>
      </q-parallax>
    </q-card>

    <q-page-sticky class="q-px-xs q-py-sm" position="top" v-if="$q.platform.is.mobile">
      <div class="flex items-center justify-start q-gutter-sm">
        <div class="flex items-center text-primary">
          <router-link class="q-breadcrumbs__el q-link flex inline items-center relative-position" :to="searchRouterLink">
            <i class="fas fa-car q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Araç</span>
            <span class="xs-hide">&nbsp; Seçimi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary">
          <router-link class="q-breadcrumbs__el q-link flex inline items-center relative-position"
                       :to="{name: 'makeReservationExtra'}">
            <q-icon style="font-size: 1.2em;" name="widgets" class="q-mr-sm" />
            <span>Ekstra</span>
            <span class="xs-hide">&nbsp; Seçimi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary">
          <router-link :class="!allowStepDriver ? 'disabled' : ''"
                       class="q-breadcrumbs__el q-link flex inline items-center relative-position"
                       :to="{name: 'makeReservationDriver'}">
            <i class="fas fa-user q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Sürücü</span>
            <span class="xs-hide">&nbsp; Bilgisi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary">
          <router-link :class="!allowStepPayment ? 'disabled' : ''"
                       class="q-breadcrumbs__el q-link flex inline items-center relative-position"
                       :to="{name: 'makeReservationPayment'}">
            <i class="fas fa-wallet q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Ödeme</span>
            <span class="xs-hide">&nbsp; Yöntemi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey xs-hide">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary xs-hide">
          <router-link :class="!allowStepSummary ? 'disabled' : ''"
                       class="q-breadcrumbs__el q-link flex inline items-center relative-position"
                       :to="{name: 'makeReservationSummary'}">
            <i class="fas fa-check q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Özet</span>
          </router-link>
        </div>
      </div>
    </q-page-sticky>

    <div class="q-page-container-content">
      <div class="q-my-xl" v-if="$q.platform.is.mobile"></div>
      <div class="flex items-center justify-start q-gutter-sm q-mt-md" v-if="!$q.platform.is.mobile">
        <div class="flex items-center text-primary">
          <router-link class="q-breadcrumbs__el q-link flex inline items-center relative-position" :to="searchRouterLink">
            <i class="fas fa-car q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Araç</span>
            <span class="xs-hide">&nbsp; Seçimi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary">
          <router-link class="q-breadcrumbs__el q-link flex inline items-center relative-position"
                       :to="{name: 'makeReservationExtra'}">
            <q-icon style="font-size: 1.2em;" name="widgets" class="q-mr-sm" />
            <span>Ekstra</span>
            <span class="xs-hide">&nbsp; Seçimi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary">
          <router-link :class="!allowStepDriver ? 'disabled' : ''"
            class="q-breadcrumbs__el q-link flex inline items-center relative-position"
           :to="{name: 'makeReservationDriver'}">
            <i class="fas fa-user q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Sürücü</span>
            <span class="xs-hide">&nbsp; Bilgisi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary">
          <router-link :class="!allowStepPayment ? 'disabled' : ''"
            class="q-breadcrumbs__el q-link flex inline items-center relative-position"
           :to="{name: 'makeReservationPayment'}">
            <i class="fas fa-wallet q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Ödeme</span>
            <span class="xs-hide">&nbsp; Yöntemi</span>
          </router-link>
        </div>
        <div class="q-mt-sm q-ml-xs q-ml-sm-sm text-grey xs-hide">
          <q-icon style="font-size: 1.2em;" name="arrow_forward" />
        </div>

        <div class="flex items-center text-primary xs-hide">
          <router-link :class="!allowStepSummary ? 'disabled' : ''"
            class="q-breadcrumbs__el q-link flex inline items-center relative-position"
           :to="{name: 'makeReservationSummary'}">
            <i class="fas fa-check q-icon q-mr-sm" aria-hidden="true" role="presentation"></i>
            <span>Özet</span>
          </router-link>
        </div>
      </div>

      <div v-if="summaryVisible && $q.screen.gt.sm" class="q-mt-md full-width row justify-between items-start content-start">
        <div>
          <q-chip square icon="fas fa-car">
            {{ vehicle.name }}
            <q-tooltip anchor="center right" self="center left" transition-show="jump-left" transition-hide="jump-right" class="text-bold">
              Araç Modeli
            </q-tooltip>
          </q-chip>
        </div>
        <div>
          <q-chip square icon="widgets" v-for="(extra, i) in extras" :key="`stored-extra-${i}`">{{ extra.name }}</q-chip>
          <q-tooltip anchor="bottom middle" self="top middle" transition-show="jump-up" transition-hide="jump-down" class="text-bold">
            Ekstralar
          </q-tooltip>
        </div>
        <div>
          <q-chip square icon="fas fa-wallet" color="accent" text-color="white">
            {{ rentalAmount }} {{ currencyCode }}
            <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-accent text-bold">
              Toplam Rezervasyon Tutarı
            </q-tooltip>
          </q-chip>
        </div>
      </div>
    </div>

    <router-view v-slot="{ Component }">
    <transition appear
                enter-active-class="animated fadeInUp">
      <component :is="Component" />
    </transition>
    </router-view>
  </q-page>
</template>

<style scoped lang="scss">
  .q-breadcrumbs__el.router-link-active span {
    border-bottom: 1px solid $primary;
  }
</style>
<style lang="scss">
  .q-page-sticky--shrink {
    z-index: 9;
    background-color: $grey-2;
    > div {
      width: 100%;
    }
  }
</style>
