<script lang="ts">

import { computed, defineComponent, ref, watch } from 'vue';
import ComponentSearch from 'components/global/Search.vue';
import { Page } from 'src/models/search';
import { useStore } from 'src/store';
import { useQuasar } from 'quasar';
import helpers from '../composables/helpers-hook';

export default defineComponent({
  name: 'SearchLayout',

  components: {
    ComponentSearch
  },

  setup () {
    const $q = useQuasar();
    const store = useStore();
    let { env } = helpers();

    let { cdnUrl } = helpers();

    const defaultBgImage = cdnUrl('images/web/header-bg-1.webp');
    const image = ref(defaultBgImage);
    const height = ref($q.screen.gt.xs ? 350 : 280);
    const title = ref(<null | string> '');
    const caption = ref(<null | string> '');
    const page = computed((): Page|null => store.state.search.page);
    // const backgroundImage = computed((): null | string => store.state.search.backgroundImage);

    watch(page, (pageValue: Page | null) => {
      title.value = null;
      caption.value = null;

      if (pageValue !== null) {
        // void store.dispatch('search/setBackgroundImage', pageValue.image);
        // height.value = $q.screen.gt.xs ? pageValue.headerHeight : 280;
        title.value = pageValue.title;
        caption.value = pageValue.caption;
      }
    });

    // watch(backgroundImage, (src: null | string) => {
    //   if (src === null) {
    //     setBgImage(defaultBgImage);
    //   } else {
    //     setBgImage(src);
    //   }
    // });
    //
    // const setBgImage = (src: string) => {
    //   image.value = src;
    // }

    const pickupPointId = ref(<number | null> null);
    const setPickupPoint = (id: null | number) => {
      pickupPointId.value = id;
    }

    return {
      env,
      image,
      height,
      title,
      caption,
      pickupPointId,
      setPickupPoint,
    }
  }
})
</script>

<template>
  <q-page>
    <q-card flat class="search-layout-container">
      <div class="search-box-container">
        <div class="q-page-container-content">
          <h1 v-if="title !== null && title !== ''">{{ title }}</h1>
          <h2 v-if="caption !== null && caption !== ''">{{ caption }}</h2>
          <div class="space-area"></div>
          <component-search class="search-box-inside-container" :pickup-point-id="pickupPointId" />
        </div>
      </div>
    </q-card>
    <router-view v-slot="{ Component }">
      <transition appear
                  enter-active-class="animated fadeInUp">
        <component :is="Component" @setPickupPoint="setPickupPoint" />
      </transition>
    </router-view>
<!--    <q-page-sticky position="bottom-right" :offset="[18, 18]" v-if="$q.platform.is.mobile">-->
<!--      <q-btn fab icon="fab fa-whatsapp" color="green-14" :href="`https://wa.me/${ env('PHONE_NUMBER', '').replace(/ /g, '').replace('+', '') }`" target="_blank" />-->
<!--    </q-page-sticky>-->
  </q-page>
</template>

<style scoped lang="scss">
  .search-layout-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-box-container {
      max-width: 1500px;
      width: 98%;
      margin: 0 auto;

      padding: 40px 0;

      border-radius: 5px;
      box-shadow: 0 0 1px 1px $grey-3;
      background-color: $grey-2;

      .q-page-container-content {
        h1 {
          font-size: 2rem;
          line-height: 2rem;
          margin: 10px 0;
          font-weight: 400;
        }
        h2 {
          font-size: 1rem;
          line-height: 2rem;
          margin: 5px 0;
        }
        h1, h2 {
          //font-weight: bold;
          text-shadow: 0 0 2px #fff;
          text-align: center;
        }

        .space-area {
          height: 20px;
        }

        .search-box-inside-container {
          padding: 0;
        }
      }
    }
  }
</style>
