<script lang="ts">
import { defineComponent, ref, reactive, watch, onBeforeMount, onMounted, computed } from 'vue';
import { useQuasar, date } from 'quasar';

export default defineComponent({
  name: 'DateTimePicker',
  props: {
    dateLabel: {
      type: String,
      required: true
    },
    timeLabel: {
      type: String,
      required: true
    },
    isAccessible: {
      type: Boolean,
      required: true
    },
    value: {
      type: Date,
      required: false,
      default: null
    },
    min: {
      type: Date,
      required: false,
      default: null
    },
    max: {
      type: Date,
      required: false,
      default: null
    },
    dense: {
      type: Boolean,
      required: false,
      default: true
    },
    cardClass: {
      type: String,
      required: false,
      default: null
    },
  },
  setup (props, context) {
    const $q = useQuasar();
    const isReady = ref(false);
    const propValue = computed(() => props.value);
    const cardClass = ref(props.cardClass || '');
    const dateInputField = ref<null | { focus: () => null, blur: () => null }>(null);
    const timeInputField = ref<null | { focus: () => null, blur: () => null }>(null);
    const dateModel = ref(<string | null> '');
    const dateObject = ref(<Date | null> null);
    const timeModel = ref(<string | null> null);
    const timeObject = reactive({hour: <number> 0, minute: <number> 0, isValid: <boolean> false});
    const dateMask = ref('##-##-####');
    const timeMask = ref('##:##');
    const timeList = ref(<string[]> []);
    const isDateFocused = ref(false);
    const isTimeFocused = ref(false);
    const dateMenuVisible = ref(false);
    const timeMenuVisible = ref(false);
    const menuDateClicked = ref(false);
    const menuTimeClicked = ref(false);
    const dateTimeObject = ref(<Date | null> null);
    let lastEmitValue = <Date | null> null;

    const curDate = new Date();
    const minDate = ref(`${curDate.getFullYear()}/${('0' + (curDate.getMonth() + 1).toString()).slice(-2)}/${('0' + curDate.getDate().toString()).slice(-2)}`);
    const minTime = ref(`${curDate.getHours()}:${curDate.getMinutes()}`);
    const minYearMonth = ref(`${curDate.getFullYear()}/${('0' + (curDate.getMonth() + 1).toString()).slice(-2)}`);
    const maxYearMonth = ref('');
    const maxDate = ref(<null | string> null);

    const colors = reactive({
      // inputDateStandout: 'bg-deep-orange-2 text-white',
      inputDateStandout: '',
      inputDateIcon: 'info',
      // inputTimeStandout: 'bg-deep-orange-2 text-white',
      inputTimeStandout: '',
      inputTimeIcon: 'info'
    });

    const isAccessibleStatus = computed(() => props.isAccessible);
    const propMin = computed(() => props.min);
    const propMax = computed(() => props.max);

    const timeListVirtualListRef = ref<null | { scrollTo: (index: number, edge: string) => void, refresh: (index: number) => void }>(null);

    onBeforeMount(() => {
      setMinValueFromProp();
      setMaxValueFromProp();

      cardClass.value += $q.platform.is.desktop ? '' : ' fit';
    });

    onMounted(() => {
      prepareTimeList();
      isReady.value = true;
    });

    watch(propValue, (value: null | Date) => {
      set(value);
    });

    watch(propMin, () => {
      setMinValueFromProp();
    });

    watch(propMax, () => {
      setMaxValueFromProp();
    });

    watch(dateModel, (value) => {
      if (!isReady.value) {
        return;
      }

      if (value === null) {
        value = '';
      }

      buildDateObject(value);

      checkSet();
    });

    const buildDateObject = (value: string) => {
      const parts = value.split('-');

      if (parts.length === 3 && parts[0].length === 2 && parts[1].length === 2 && parts[2].length === 4) {
        // colors.inputDateStandout = 'bg-teal-2 text-white';
        colors.inputDateStandout = '';
        colors.inputDateIcon = 'primary';
        dateObject.value = new Date(parseInt(parts[2]), parseInt(parts[1]) - 1, parseInt(parts[0]));

        prepareTimeList();
        setDateBlur();

        setTimeout(() => {
          if (!timeObject.isValid) {
            setTimeFocus();
          }
        }, 50);
      } else {
        dateObject.value = null;
        // colors.inputDateStandout = 'bg-deep-orange-2 text-white';
        colors.inputDateStandout = '';
        colors.inputDateIcon = 'info';
      }
    }

    watch(timeModel, (value) => {
      if (!isReady.value) {
        return;
      }

      if (value === null) {
        value = '';
      }

      buildTimeObject(value);

      checkSet();
    });

    const buildTimeObject = (value: string) => {
      const parts = value.split(':');

      if (parts.length === 2 && parts[0].length === 2 && parts[1].length === 2) {
        // colors.inputTimeStandout = 'bg-teal-2 text-white';
        colors.inputTimeStandout = '';
        colors.inputTimeIcon = 'primary';
        timeObject.hour = parseInt(parts[0]);
        timeObject.minute = parseInt(parts[1]);
        timeObject.isValid = true;
        setTimeBlur();
      } else {
        timeObject.hour = 0;
        timeObject.minute = 0;
        timeObject.isValid = false;
        // colors.inputTimeStandout = 'bg-deep-orange-2 text-white';
        colors.inputTimeStandout = '';
        colors.inputTimeIcon = 'info';
      }
    }

    const setMinValueFromProp = () => {
      if (propMin.value === null) {
        minDate.value = `${curDate.getFullYear()}/${('0' + (curDate.getMonth() + 1).toString()).slice(-2)}/${('0' + curDate.getDate().toString()).slice(-2)}`;
        minTime.value = `${curDate.getHours()}:${curDate.getMinutes()}`;
      } else {
        minDate.value = `${propMin.value.getFullYear()}/${('0' + (propMin.value.getMonth() + 1).toString()).slice(-2)}/${('0' + propMin.value.getDate().toString()).slice(-2)}`;
        minTime.value = `${propMin.value.getHours()}:${propMin.value.getMinutes()}`;
      }

      minYearMonth.value = minDate.value.slice(0, 7);
      prepareTimeList();
      checkSelected();
    }

    const setMaxValueFromProp = () => {
      maxDate.value = propMax.value === null ? null :
        `${propMax.value.getFullYear()}/${('0' + (propMax.value.getMonth() + 1).toString()).slice(-2)}/${('0' + propMax.value.getDate().toString()).slice(-2)}`;

      maxYearMonth.value = maxDate.value === null ? '' : maxDate.value.slice(0, 7);
      checkSelected();
    }

    const options = (date: string) => {
      if (maxDate.value === null) {
        return date >= minDate.value;
      } else {
        return date >= minDate.value && date <= maxDate.value;
      }
    }

    const checkSelected = () => {
      if (dateTimeObject.value !== null && !options(`${dateTimeObject.value.getFullYear()}/${('0' + (dateTimeObject.value.getMonth() + 1).toString()).slice(-2)}/${('0' + dateTimeObject.value.getDate().toString()).slice(-2)}`)) {

        dateModel.value = null;
      }
    }

    const prepareTimeList = () => {
      timeList.value = [];

      let minHour = 0;
      let minMinute = 0;

      if (dateObject.value !== null) {
        const selectedDateValue = `${dateObject.value.getFullYear()}/${('0' + (dateObject.value.getMonth() + 1).toString()).slice(-2)}/${('0' + dateObject.value.getDate().toString()).slice(-2)}`;

        if (selectedDateValue === minDate.value) {
          const minHourMinute = minTime.value.split(':');
          minHour = parseInt(minHourMinute[0]);
          minMinute = parseInt(minHourMinute[1]);
        }
      }

      for (let h = 0; h < 24; h++) {

        if (h < minHour) { continue; }

        for (let m = 0; m < 60; m += 30) {
          if (h === minHour && m < minMinute) { continue; }

          timeList.value.push(h.toString().padStart(2, '0') + ':' + m.toString().padStart(2, '0'));
        }
      }

      if (timeObject.isValid && timeList.value.findIndex(x => x === timeModel.value) === -1) {
        timeModel.value = '';
      }

      timeListVirtualListRef.value?.refresh(0);
    }

    const checkSet = (readyOverride = false) => {
      if (!readyOverride && !isReady.value) {
        return;
      }

      if (dateObject.value === null || !timeObject.isValid) {
        dateTimeObject.value = null;
      } else {
        dateTimeObject.value = new Date(dateObject.value.getFullYear(), dateObject.value.getMonth(), dateObject.value.getDate(), timeObject.hour, timeObject.minute);
      }

      if (lastEmitValue === null || dateTimeObject.value === null || date.formatDate(lastEmitValue, 'YYYY-MM-DD') !== date.formatDate(dateTimeObject.value, 'YYYY-MM-DD')) {
        lastEmitValue = dateTimeObject.value;
        context.emit('set', dateTimeObject.value);
      }
    }

    const clickDateMenu = () => {
      menuDateClicked.value = true;
    }

    const clickTimeMenu = () => {
      menuTimeClicked.value = true;
    }

    const setFocus = () => {
      if (!isAccessibleStatus.value) {
        return;
      }

      setDateFocus();
    };

    const setBlur = () => {
      setDateBlur();
      setTimeBlur();
    };

    const setDateFocus = () => {
      if (!isReady.value || !isAccessibleStatus.value) {
        return;
      }

      if ($q.platform.is.desktop) {
        dateInputField.value?.focus();
      } else {
        // document.body.classList.add('overflow-hidden');
      }

      isDateFocused.value = true;
      dateMenuVisible.value = true;
    };

    const setTimeFocus = () => {
      if (!isReady.value || !isAccessibleStatus.value) {
        return;
      }

      if ($q.platform.is.desktop) {
        timeInputField.value?.focus();
      } else {
        // document.body.classList.add('overflow-hidden');
      }

      isTimeFocused.value = true;

      // if (isAccessibleStatus.value) {
      //   timeMenuVisible.value = true;
      // }

      timeMenuVisible.value = true;

      setTimeout(() => {
        if (timeModel.value === null || timeModel.value === '') {
          timeListVirtualListRef.value?.scrollTo(parseInt((timeList.value.length / 2).toFixed(2)), 'center');
        } else {
          timeListVirtualListRef.value?.scrollTo(timeList.value.findIndex(x => x === timeModel.value), 'center');
        }
      }, 150);
    };

    const setDateBlur = () => {
      dateInputField.value?.blur();

      if (!$q.platform.is.desktop) {
        document.body.classList.remove('overflow-hidden');
      }

      setTimeout(() => {
        dateMenuVisible.value = false;
        isDateFocused.value = false;
      }, 50);
    }

    const setTimeBlur = () => {
      timeInputField.value?.blur();

      if (!$q.platform.is.desktop) {
        document.body.classList.remove('overflow-hidden');
      }

      setTimeout(() => {
        timeMenuVisible.value = false;
        isTimeFocused.value = false;
      }, 50);
    }

    const selectDate = (value: string, reason: string) => {
      if (reason === 'add-day') {
        // setDateBlur();
      }
    }

    const selectTime = (value: string) => {
      if (timeModel.value === value) {
        timeModel.value = '';
      } else {
        timeModel.value = value;
      }
    }

    const set = (setValue: Date|null, check = false) => {
      if (setValue === dateTimeObject.value) {
        return;
      }

      isReady.value = false;

      if (setValue === null) {
        dateModel.value = '';
        timeModel.value = '';
      } else {
        dateModel.value = `${('0' + setValue.getDate().toString()).slice(-2)}-${('0' + (setValue.getMonth() + 1).toString()).slice(-2)}-${setValue.getFullYear()}`;
        timeModel.value = `${('0' + setValue.getHours().toString()).slice(-2)}:${('0' + setValue.getMinutes().toString()).slice(-2)}`;
      }

      buildDateObject(dateModel.value);
      buildTimeObject(timeModel.value);

      if (check) {
        checkSet(true);
      }

      isReady.value = true;
    }

    return {
      cardClassValue: cardClass,
      inputAccessible: isAccessibleStatus,
      dateInputField,
      dateMenuVisible,
      menuDateClicked,
      dateModel,
      minYearMonth,
      maxYearMonth,
      dateMask,
      timeInputField,
      timeMenuVisible,
      menuTimeClicked,
      timeModel,
      timeMask,
      timeList,
      timeListVirtualListRef,
      colors,
      options,
      set,
      setFocus,
      setBlur,
      setDateFocus,
      setDateBlur,
      selectDate,
      clickDateMenu,
      setTimeFocus,
      setTimeBlur,
      clickTimeMenu,
      selectTime
    }
  }
})
</script>

<template>
  <div>
    <div class="row q-col-gutter-xs">
      <slot></slot>
      <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div @click="setDateFocus">
          <q-field :dense="dense" filled :label="dateLabel" :disable="!inputAccessible" :stack-label="dateModel !== '' && dateModel !== null">
            <template v-slot:prepend>
              <q-icon name="event" :color='colors.inputDateIcon'/>
            </template>
            <template v-slot:control>
              <div class="self-center full-width no-outline" tabindex="0">{{ dateModel }}</div>
            </template>
            <q-popup-proxy v-model="dateMenuVisible" transition-show="jump-down" transition-hide="jump-up" fit anchor="top left" self="top left">
              <q-card class="card--date-picker" :class="cardClassValue">
                <q-toolbar class="bg-grey-2" v-if="!$q.platform.is.desktop">
                  <q-toolbar-title>{{ dateLabel }}</q-toolbar-title>
                  <q-btn flat round dense icon="close" v-close-popup />
                </q-toolbar>
                <q-card-section v-if="!$q.platform.is.desktop" class="q-py-xs">
                  <div class="text-subtitle2">Seçilen: {{ dateModel }}</div>
                </q-card-section>
                <q-card-section class="q-pa-none">
                  <q-input v-if="$q.platform.is.desktop" ref="dateInputField" :dense="dense" v-model="dateModel" :label="dateLabel"
                           :mask="dateMask" :disable="!inputAccessible" class="date-input">
                    <template v-slot:prepend>
                      <q-icon name="event" :color='colors.inputDateIcon'/>
                    </template>
                  </q-input>
                  <q-date :class="$q.platform.is.desktop ? null : 'full-width'" flat minimal years-in-month-view
                          :color="colors.inputDateIcon" mask="DD-MM-YYYY" first-day-of-week="1" :options="options"
                          :default-year-month="minYearMonth"
                          :navigation-min-year-month="minYearMonth" :navigation-max-year-month="maxYearMonth"
                          v-model="dateModel" @update:model-value="selectDate" @click="clickDateMenu">
                    <div v-if="!$q.platform.is.desktop" class="row items-center justify-end">
                      <q-btn v-close-popup label="Kapat" color="primary" flat />
                    </div>
                  </q-date>
                </q-card-section>
              </q-card>
            </q-popup-proxy>
          </q-field>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div @click="setTimeFocus">
          <q-field :dense="dense" filled :label="timeLabel" :disable="!inputAccessible" :stack-label="timeModel !== '' && timeModel !== null">
            <template v-slot:prepend>
              <q-icon name="schedule" :color='colors.inputTimeIcon'/>
            </template>
            <template v-slot:control>
              <div class="self-center full-width no-outline" tabindex="0">{{ timeModel }}</div>
            </template>
            <q-popup-proxy v-model="timeMenuVisible" transition-show="jump-down" transition-hide="jump-up" fit anchor="top left" self="top left">
              <q-card class="card--time-picker" :class="$q.platform.is.desktop ? 'full-width' : 'fit'">
                <q-toolbar class="bg-grey-2" v-if="!$q.platform.is.desktop">
                  <q-toolbar-title>{{ timeLabel }}</q-toolbar-title>
                  <q-btn flat round dense icon="close" v-close-popup />
                </q-toolbar>
<!--                <q-card-section v-if="!$q.platform.is.desktop" class="q-py-xs">-->
<!--                  <div class="text-subtitle2">Seçilen: {{ timeModel }}</div>-->
<!--                </q-card-section>-->
                <q-card-section :class="$q.platform.is.desktop ? 'q-pa-none' : null">
                  <q-input ref="timeInputField" :dense="dense" v-model="timeModel" :label="timeLabel"
                           :mask="timeMask" :disable="!inputAccessible"
                           class="time-input"
                           :class="$q.platform.is.desktop ? null : 'q-mb-md'">
                    <template v-slot:prepend>
                      <q-icon name="schedule" :color='colors.inputTimeIcon'/>
                    </template>
                  </q-input>
                  <q-virtual-scroll
                    ref="timeListVirtualListRef"
                    style="max-height: 350px;"
                    :items="timeList"
                  >
                    <template v-slot="{ item, index }">
                      <q-item
                        :key="index"
                        dense clickable manual-focus
                        :active="timeModel === item"
                        @click="selectTime(item)"
                        class="text-center"
                        :class="timeModel === item ? 'bg-grey-2' : null"
                      >
                        <q-item-section>
                          <q-item-label class="text-weight-medium time-item">
                            {{ item }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-virtual-scroll>
                </q-card-section>
              </q-card>
            </q-popup-proxy>
          </q-field>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  .q-menu {
    .q-card.card--date-picker,
    .q-card.card--time-picker, {
      .q-card__section {
        label.q-field {
          .q-field__inner {
            .q-field__control {
              padding: 0 12px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    .q-menu {
      position: fixed !important;
      min-height: 290px !important;
      max-height: 290px !important;
    }
    .time-item {
      font-size: 1.7em;
      line-height: 1.8em !important;
    }

    .q-date__calendar-item > div, .q-date__calendar-item button {
      width: 35px;
      height: 35px;
      line-height: 22px;
      font-size: 16px;
    }
  }
</style>
