<script lang="ts">
import { defineComponent, computed, onBeforeMount, ref, reactive, watch } from 'vue';
import { City, DeliveryPoint, DeliveryPointListItem, AxiosDeliveryPointListItemInterface } from 'src/models/search';
import { useStore } from 'src/store';
import { api } from 'boot/axios';
import { useQuasar } from 'quasar';

export default defineComponent({
  name: 'DeliveryPointPicker',
  props: {
    label: {
      type: String,
      required: true
    },
    selectedId: {
      type: Number,
      required: false,
      default: 0
    },
    isAccessible: {
      type: Boolean,
      required: true
    },
    cityId: {
      type: Number,
      required: false,
      default: null
    },
    dense: {
      type: Boolean,
      required: false,
      default: true
    },
    // points: {
    //   type: Array as PropType<DeliveryPoint[]>,
    //   default: () => []
    // },
  },
  setup (props, context) {
    const $store = useStore();
    const $q = useQuasar();

    const inputField = ref<null | { focus: () => null, blur: () => null }>(null);
    const propSelectedId = computed(() => props.selectedId);
    const listVisible = ref(false);
    const menuClicked = ref(false);
    const inputText = ref('');
    const isPicked = ref(false);
    const itemsLoaded = ref(false);
    const waitPick = ref(<number | null> null);
    const deliveryPoints = ref(<DeliveryPointListItem[]> []);
    const listItems = ref(<DeliveryPointListItem[]> []);
    const pickedPoint = ref(<DeliveryPoint|null> null);
    const colors = reactive({
      // inputStandout: 'bg-deep-orange-2 text-white',
      inputStandout: '',
      inputIcon: 'info'
    });
    const virtualListRef = ref<null | { scrollTo: (index: number, edge: string) => void, refresh: (index: number) => void }>(null);
    const virtualListIndex = ref(0);

    // const deliveryPointTypeIcons = computed({
    //   get: () => $store.state.global.deliveryPointTypeIcons,
    // });

    const deliveryPointTypeIcons = computed(() => $store.state.global.deliveryPointTypeIcons);
    const isAccessibleStatus = computed(() => props.isAccessible);
    const cityId = computed(() => props.cityId);
    const inputLabel = computed(() => {
      let label = props.label;

      if (isPicked.value && pickedPoint.value !== null) {
        label += `: ${pickedPoint.value.city.name}`;
      }

      return label;
    });

    onBeforeMount(() => {
      loadItems();
    });

    // ## Watch
    watch(inputText, () => {
      filerListItems();
    });

    watch(propSelectedId, (value) => {
      pick(value === 0 ? null : value);
    });

    watch(pickedPoint, (pickedPointValue) => {
      if (pickedPointValue !== null) {
        isPicked.value = true;
        inputText.value = pickedPointValue.name;
        setBlur();
      } else {
        isPicked.value = false;
        inputText.value = '';
      }

      context.emit('pick', pickedPointValue);
    });

    watch(cityId, () => {
      loadItems();
    });

    watch(isPicked, (isPicked: boolean) => {
      if (isPicked) {
        // colors.inputStandout = 'bg-teal-2 text-white';
        colors.inputStandout = '';
        colors.inputIcon = 'primary';
      } else {
        // colors.inputStandout = 'bg-deep-orange-2 text-white';
        colors.inputStandout = '';
        colors.inputIcon = 'info';
      }
    });

    const loadItems = () => {
      deliveryPoints.value = [];
      itemsLoaded.value = false;

      api.get('/reservation/delivery-points', {
        params: {cityId: cityId.value}
      })
        .then((response: AxiosDeliveryPointListItemInterface) => {
          let pickedExists = false;

          response.data.forEach(deliveryPointListItem => {
            pickedExists = pickedPoint.value === null ? false : deliveryPointListItem.deliveryPoints.filter(x => x.id === pickedPoint.value?.id).length > 0;

            deliveryPoints.value.push(<DeliveryPointListItem> {
              orderRank: deliveryPointListItem.orderRank,
              city: <City> {
                id: deliveryPointListItem.city.id,
                name: deliveryPointListItem.city.name,
                slug: deliveryPointListItem.city.slug,
                orderRank: deliveryPointListItem.city.orderRank,
              },
              deliveryPoints: deliveryPointListItem.deliveryPoints.map(deliveryPoint => {
                return <DeliveryPoint> {
                  id: deliveryPoint.id,
                  name: deliveryPoint.name,
                  slug: deliveryPoint.slug,
                  type: deliveryPoint.type,
                  search: deliveryPoint.search,
                  icon: typeof deliveryPointTypeIcons.value[deliveryPoint.type] === typeof undefined ? 'fas fa-car' :
                    deliveryPointTypeIcons.value[deliveryPoint.type],
                  orderRank: deliveryPoint.orderRank,
                  isVisible: true,
                  city: <City> {
                    id: deliveryPointListItem.city.id,
                    name: deliveryPointListItem.city.name,
                    slug: deliveryPointListItem.city.slug,
                    orderRank: deliveryPointListItem.city.orderRank,
                  }
                };
              })
            });
          });

          itemsLoaded.value = true;

          if (!isPicked.value && waitPick.value !== null && deliveryPoints.value.length > 0) {
            // console.log([
            //   inputLabel.value,
            //   waitPick.value,
            //   deliveryPoints.value.length,
            //   (new Date()).getSeconds(),
            //   (new Date()).getMilliseconds()
            // ]);
            pick(waitPick.value);
          }
          else if (!pickedExists) {
            pick(null);
          }
        })
        .catch(() => {
          // $q.notify({
          //   color: 'negative',
          //   position: 'top',
          //   message: 'Şehir alınamadı',
          //   icon: 'report_problem'
          // });
        })
        .finally(() => {
          // loading.value = false;
        });
    };

    const setFocus = () => {
      if (!isAccessibleStatus.value) {
        return;
      }

      if ($q.platform.is.desktop) {
        inputField.value?.focus();
      } else {
        // document.body.classList.add('overflow-hidden');
      }

      filerListItems();
      listVisible.value = true;
    };

    const menuShowEvent = () => {
      if (pickedPoint.value !== null) {
        virtualListRef.value?.scrollTo(listItems.value.findIndex(x => x.city.id === pickedPoint.value?.city.id), 'center');
      }
    }

    const clickMenu = () => {
      menuClicked.value = true;
    }

    const setBlur = () => {
      listVisible.value = false;

      if (!$q.platform.is.desktop) {
        // document.body.classList.remove('overflow-hidden');
      }

      if (inputField.value) {
        inputField.value?.blur();
      }

      if (isPicked.value && pickedPoint.value !== null) {
        inputText.value = pickedPoint.value.name;
      } else {
        inputText.value = '';
      }
    }

    const pick = (id: number | null) => {
      if (id === null || typeof id === 'undefined') {
        pickedPoint.value = <DeliveryPoint|null> null;
        return;
      }

      if (!itemsLoaded.value) {
        waitPick.value = id;
        return;
      }

      if (pickedPoint.value !== null && pickedPoint.value.id === id) {
        // pickedPoint.value = <DeliveryPoint|null> null;
        setBlur();
        return;
      }

      const BreakException = {};

      try {
        deliveryPoints.value.forEach(item => {
          const i = item.deliveryPoints.findIndex((point: DeliveryPoint) => {
            return point.id === id;
          });

          if (i !== -1) {
            pickedPoint.value = item.deliveryPoints[i];
            waitPick.value = null;

            throw BreakException
          }
        });
      } catch (e) {

      }
    }

    const filerListItems = () => {
      if (inputText.value === '' || isPicked.value && pickedPoint.value !== null && inputText.value === pickedPoint.value.name) {
        listItems.value = deliveryPoints.value.map(item => item);

        return;
      }

      const searchTexts = inputText.value.toLocaleLowerCase('tr-TR').split(' ');

      listItems.value = deliveryPoints.value.map(item => {
        const newItem = Object.assign({}, item);

        newItem.deliveryPoints = newItem.deliveryPoints.map(point => {
          point.isVisible = false;

          for (let i = 0; i < searchTexts.length; i++) {
            if (point.search.toLocaleLowerCase('tr-TR').includes(searchTexts[i])) {
              point.isVisible = true;
              break;
            }
          }

          return point;
        })
          .filter(point => point.isVisible);

        newItem.isVisible = newItem.deliveryPoints.length > 0;

        return newItem;
      })
        .filter(item => item.isVisible);

      virtualListRef.value?.refresh(0);
    }

    return {
      inputField,
      inputLabel,
      inputAccessible: isAccessibleStatus,
      inputText,
      deliveryPointTypeIcons,
      isPicked,
      listVisible,
      deliveryPoints,
      listItems,
      colors,
      pickedPoint,
      virtualListRef,
      virtualListIndex,
      setFocus,
      menuShowEvent,
      clickMenu,
      setBlur,
      pick
    }
  }
})
</script>

<template>
  <div>
    <slot></slot>
    <div @click="setFocus">
      <q-field ref="inputField" :dense="dense" filled
               :label="inputLabel" :disable="!inputAccessible"
               :stack-label="inputText !== '' && inputText !== null">
        <template v-slot:control>
          <div class="self-center full-width no-outline overflow-hidden" tabindex="0">{{ inputText }}</div>
        </template>
        <template v-slot:prepend>
          <q-icon name="place" :color='colors.inputIcon'/>
        </template>
        <template v-slot:append>
          <i v-if="pickedPoint && pickedPoint.icon !== null" :class="`text-info ${pickedPoint.icon}`" />
        </template>
        <q-popup-proxy v-model="listVisible" transition-show="jump-down" transition-hide="jump-up" fit anchor="top left" self="top left">
          <q-card class="picker">
            <q-toolbar class="bg-grey-2" v-if="!$q.platform.is.desktop">
              <q-toolbar-title>{{ inputLabel }}</q-toolbar-title>
              <q-btn flat round dense icon="close" v-close-popup />
            </q-toolbar>
            <q-card-section v-if="!$q.platform.is.desktop">
              <div class="text-subtitle2">Seçilen: {{ inputText }}</div>
            </q-card-section>
            <q-separator />
            <q-card-section :class="$q.platform.is.desktop ? 'q-pa-none' : null">
              <q-input v-if="$q.platform.is.desktop" ref="inputField" :dense="dense" v-model="inputText"
                       :label="inputLabel" :disable="!inputAccessible">
                <template v-slot:prepend>
                  <q-icon name="place" :color='colors.inputIcon'/>
                </template>
                <template v-slot:append>
                  <i v-if="pickedPoint && pickedPoint.icon !== null" :class="`text-info ${pickedPoint.icon}`" />
                </template>
              </q-input>
              <q-virtual-scroll
                ref="virtualListRef"
                style="max-height: 300px;"
                component="list"
                :items="listItems"
              >
                <template v-slot="{ item, index }">
                  <q-list bordered padding dense :key="index">
                    <q-item-label header v-if="item.deliveryPoints.length > 1">{{ item.city.name }}</q-item-label>
                    <q-item v-for="(point, j) in item.deliveryPoints" :key="`point-${j}`"
                            dense
                            clickable
                            @click="pick(point.id)"
                            :active="pickedPoint && pickedPoint.id === point.id"
                    >
                      <q-item-section avatar class="q-pr-xs">
                        <i :class="point.icon"></i>
                      </q-item-section>
                      <q-item-section>{{ point.name }}</q-item-section>
                    </q-item>
                  </q-list>
                </template>
              </q-virtual-scroll>
            </q-card-section>
            <q-card-section v-show="listItems.length === 0">
              <i v-if="deliveryPoints.length === 0">Uygun {{ inputLabel }} Bulunmuyor</i>
              <i v-else>Aranan terime uygun teslim noktası bulunmuyor</i>
            </q-card-section>
          </q-card>
        </q-popup-proxy>
      </q-field>
    </div>
  </div>
</template>

<style lang="scss">
  .q-menu {
    .q-card.picker {
      .q-card__section {
        label.q-field {
          .q-field__inner {
            .q-field__control {
              padding: 0 12px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-sm-max) {
    .q-menu {
      position: fixed !important;
      min-height: 290px;
    }
  }
</style>
