<script lang="ts">
import DeliveryPointPicker from 'components/global/DeliveryPointPicker.vue';
import DateTimePicker from 'components/global/DateTimePicker.vue';
import { useRouter } from 'vue-router';
import { defineComponent, ref, reactive, watch, computed, onMounted, onBeforeMount } from 'vue';
import { useQuasar, date } from 'quasar'
import { i18n } from 'boot/i18n';
import { DeliveryPoint, SearchData } from 'src/models/search';
import { useStore } from 'src/store'
import Timeout = NodeJS.Timeout;
// import store from 'src/store'

export default defineComponent({
  name: 'ComponentSearch',
  components: { DeliveryPointPicker, DateTimePicker },
  props: {
    readonly: {
      type: Boolean,
      required: false,
      default: false
    },
    pickupPointId: {
      type: Number,
      required: false,
      default: null
    },
  },
  setup(props) {
    const $q = useQuasar();
    const store = useStore();
    const router = useRouter();

    const isReady = ref(false);
    const pickupPointPickerRef = ref<null | { pick: (id: number | null) => null, setFocus: () => null}>();
    const dropPointPickerRef = ref<null | { pick: (id: number | null) => null, setFocus: () => null}>();
    const pickupDateTimePickerRef = ref<null | { set: (id: Date | null, check?: boolean) => null, setFocus: () => null, setBlur: () => null}>();
    const dropDateTimePickerRef = ref<null | { set: (id: Date | null, check?: boolean) => null, setFocus: () => null, setBlur: () => null}>();

    const readonly = computed((): boolean => props.readonly);
    const propPickupPointId = computed((): number => props.pickupPointId);
    const onSearching = computed((): boolean => store.state.search.onSearching);
    const searchIsReady = computed((): boolean => store.state.search.isReady);
    // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access,@typescript-eslint/no-unsafe-return
    const searchData = computed((): SearchData => store.getters['search/getData']);
    const maxDateTime = computed((): null | Date => store.state.search.maxDateTime);
    const dropPointAccessible = ref(false);
    const differentReturnPointStatus = ref(false);
    const differentReturnPointColor = ref('info');

    const pickupPoint = ref(<DeliveryPoint|null> null);
    const pickupCityId = ref(<null | number> null);
    const dropPoint = ref(<DeliveryPoint|null> null);

    const pickupDateTime = ref(<Date|null> null);
    const dropDateTime = ref(<Date|null> null);

    const rentalDay = ref(< null | number > null);

    const minPickupDateTime = ref(new Date());
    const minDropDateTime = ref(new Date());

    let searchPostponeCounter: Timeout;

    const point = reactive({
      pickupPicker: reactive({
        label: i18n.global.t('search.pickupDropPoint'),
        isAccessible: true,
        selectedId: 0,
        pick: pickupPoint
      }),
      differentReturn: reactive({
        status: differentReturnPointStatus,
        color: differentReturnPointColor,
        label: i18n.global.t('search.differentPointSwitch')
      }),
      dropPicker: reactive({
        label: i18n.global.t('search.dropPoint'),
        isAccessible: dropPointAccessible,
        selectedId: 0,
        pick: dropPoint
      }),
    });

    const dateTime = reactive({
      pickupAtPicker: {
        dateLabel: i18n.global.t('search.pickupDate'),
        timeLabel: i18n.global.t('search.pickupTime'),
        value: <null | Date> null,
      },
      dropAtPicker: {
        dateLabel: i18n.global.t('search.dropDate'),
        timeLabel: i18n.global.t('search.dropTime'),
        value: <null | Date> null,
      },
    });

    onBeforeMount(() => {
      minPickupDateTime.value.setTime(minPickupDateTime.value.getTime() + (3*60*60*1000));
      minDropDateTime.value.setTime(minDropDateTime.value.getTime() + (3*60*60*1000));

      differentReturnPointStatus.value = searchData.value.differentReturnPoint;
      pickupPoint.value = searchData.value.pickupPoint;
      dropPoint.value = searchData.value.dropPoint;
      pickupDateTime.value = searchData.value.pickupDateTime;
      dropDateTime.value = searchData.value.dropDateTime;
      rentalDay.value = searchData.value.rentalDay;
    });

    onMounted(() => {
      differentReturnPointStatus.value = searchData.value.differentReturnPoint;

      // pickupPoint.value = searchData.value.pickupPoint;
      pickupPointPickerRef.value?.pick(searchData.value.pickupPoint?.id);

      // dropPoint.value = searchData.value.dropPoint;
      dropPointPickerRef.value?.pick(searchData.value.dropPoint?.id);
      // console.log([
      //   searchData.value.dropPoint?.id,
      //   (new Date()).getSeconds(),
      //   (new Date()).getMilliseconds()
      // ]);

      // pickupDateTime.value = searchData.value.pickupDateTime;
      pickupDateTimePickerRef.value?.set(searchData.value.pickupDateTime, true);

      // dropDateTime.value = searchData.value.dropDateTime;
      dropDateTimePickerRef.value?.set(searchData.value.dropDateTime);

      const lsSearchPickupPointId = localStorage.getItem('SearchPickupPointId');
      const lsSearchDropPointId = localStorage.getItem('SearchDropPointId');
      let lsSearchPickupAt = localStorage.getItem('SearchPickupAt');
      let lsSearchDropAt = localStorage.getItem('SearchDropAt');

      // const lsSearchPickupPointId = null;
      // const lsSearchDropPointId = null;
      // let lsSearchPickupAt = null;
      // let lsSearchDropAt = null;

      if (pickupPoint.value === null && lsSearchPickupPointId !== null) {
        point.pickupPicker.selectedId = parseInt(lsSearchPickupPointId);
      }

      if (dropPoint.value === null && lsSearchDropPointId !== null && lsSearchDropPointId !== lsSearchPickupPointId) {
        point.differentReturn.status = true;

        setTimeout(() => {
          point.dropPicker.selectedId = parseInt(lsSearchDropPointId);
        }, 100);
      }

      if (lsSearchPickupAt !== null) {
        const lsSearchPickupAtObject = date.extractDate(lsSearchPickupAt, 'DD-MM-YYYY HH:mm');
        pickupDateTimePickerRef.value?.set(lsSearchPickupAtObject, true);

        // if (new Date().getTime() < lsSearchPickupAtObject.getTime()) {
        //   pickupDateTime.value = lsSearchPickupAtObject;
        //   dateTime.pickupAtPicker.value = lsSearchPickupAtObject;
        // }
      }

      if (pickupDateTime.value !== null) {
        let minDropDateTimeSet = new Date(pickupDateTime.value.getTime());
        minDropDateTimeSet.setTime(minDropDateTimeSet.getTime() + (12*60*60*1000));
        minDropDateTime.value = minDropDateTimeSet;
      }

      if (lsSearchDropAt !== null) {
        const lsSearchDropAtObject = date.extractDate(lsSearchDropAt, 'DD-MM-YYYY HH:mm');
        dropDateTimePickerRef.value?.set(lsSearchDropAtObject, true);

        // if (new Date().getTime() < lsSearchDropAtObject.getTime()) {
        //   dropDateTime.value = lsSearchDropAtObject;
        //   dateTime.dropAtPicker.value = lsSearchDropAtObject;
        // }
      }

      calculateRentalDay();

      setTimeout(() => {
        isReady.value = true;
      }, 350);
    });

    watch(propPickupPointId, (pickupPointId) => {
      point.pickupPicker.selectedId = pickupPointId;
    });

    watch(differentReturnPointStatus, (status) => {
      if (!isReady.value) {
        return;
      }

      pickupDateTimePickerRef.value?.setBlur();
      dropDateTimePickerRef.value?.setBlur();

      if (status) {
        point.pickupPicker.label = i18n.global.t('search.pickupPoint');
      } else {
        point.pickupPicker.label = i18n.global.t('search.pickupDropPoint');
        differentReturnPointColor.value = 'info';

        point.differentReturn.label = i18n.global.t('search.differentPointSwitch');
        dropPoint.value = <DeliveryPoint|null> null;

        if (pickupPoint.value !== null) {
          if (searchIsReady.value) {
            search();
            return;
          }
          openPickupDateTimePicker();
        } else {
          openPickupPointPicker();
        }
      }
    });

    // ## Methods
    const addedDifferentReturnPointPicker = () => {
      if (!isReady.value) {
        return;
      }

      if (pickupPoint.value !== null) {
        openDropPointPicker();
      } else {
        openPickupPointPicker();
      }
    }

    const pickPickupPoint = (deliveryPoint: DeliveryPoint) => {
      pickupPoint.value = deliveryPoint;

      if (pickupPoint.value === null) {
        localStorage.removeItem('SearchPickupPointId');
        // dropPoint.value = <DeliveryPoint|null> null;
        dropPointPickerRef.value?.pick(null);
        dropPointAccessible.value = false;
      } else {
        pickupCityId.value = pickupPoint.value.city.id;
        dropPointAccessible.value = true;
        localStorage.setItem('SearchPickupPointId', pickupPoint.value.id.toString());

        // if (localStorage.pickupPoint) {
        //   this.age = localStorage.age;
        // }

        if (searchIsReady.value) {
          search();
          return;
        }

        if (differentReturnPointStatus.value && !samePointSelectCheck()) {
          openDropPointPicker();
        } else {
          openPickupDateTimePicker();
        }
      }
    }

    const pickDropPoint = (deliveryPoint: DeliveryPoint) => {
      dropPoint.value = deliveryPoint;

      if (dropPoint.value === null) {
        localStorage.removeItem('SearchDropPointId');
        differentReturnPointColor.value = 'info';
      } else {
        localStorage.setItem('SearchDropPointId', dropPoint.value.id.toString());
        differentReturnPointColor.value = 'primary';

        if (!samePointSelectCheck()) {
          if (searchIsReady.value) {
            search();
            return;
          }

          openPickupDateTimePicker();
        }
      }
    }

    const samePointSelectCheck = (): boolean => {
      let status = false;

      if (pickupPoint.value !== null && dropPoint.value !== null) {
        status = pickupPoint.value.id === dropPoint.value.id;
      }

      if (status) {
        $q.dialog({
          message: 'Alış ve dönüş yeri aynı mı olacak?',
          persistent: true,
          ok: i18n.global.t('search.yesButton'),
          cancel: i18n.global.t('search.noButton'),
        }).onOk(() => {
          differentReturnPointStatus.value = false;
        }).onCancel(() => {
          dropPointPickerRef.value?.pick(null);
          setTimeout(() => {
            openDropPointPicker();
          }, 100);
        });
      }

      return status;
    }

    const openPickupPointPicker = () => {
      if (!isReady.value) {
        return;
      }

      setTimeout(() => {
        pickupPointPickerRef.value?.setFocus();
      }, 100);
    }

    const openDropPointPicker = () => {
      if (!isReady.value) {
        return;
      }

      if (dropPoint.value === null) {
        setTimeout(() => {
          dropPointPickerRef.value?.setFocus();
        }, 100);
      } else {
        openPickupDateTimePicker();
      }
    }

    const setPickupDateTime = (dateTime: null | Date) => {
      pickupDateTime.value = dateTime;
      calculateRentalDay();

      if (pickupDateTime.value === null) {
        localStorage.removeItem('SearchPickupAt');
      } else {
        const setPickupDateTimeInternal = (pickupDateTimeValue: Date) => {
          let minDropDateTimeSet = new Date(pickupDateTimeValue.getTime());
          minDropDateTimeSet.setTime(minDropDateTimeSet.getTime() + (12*60*60*1000));
          minDropDateTime.value = minDropDateTimeSet;
          localStorage.setItem('SearchPickupAt', date.formatDate(pickupDateTimeValue, 'DD-MM-YYYY HH:mm'));

          if (searchIsReady.value) {
            search();
            return;
          }

          openDropDateTimePicker();
        }

        const monthDiff: number = (pickupDateTime.value.getTime() - (new Date()).getTime()) / 1000 / 60 / 60 / 24 / 30;

        if (monthDiff >= 11.5) {
          $q.dialog({
            message: 'Alış tarihi olarak ' + monthDiff.toFixed(0) + ' ay sonrasını (' + date.formatDate(pickupDateTime.value, 'DD.MM.YYYY') + ') seçtiniz. Devam etmek istiyor musunuz?',
            persistent: true,
            ok: i18n.global.t('search.yesButton'),
            cancel: i18n.global.t('search.noButton'),
          }).onOk(() => {
            setPickupDateTimeInternal(pickupDateTime.value || (new Date()));
          }).onCancel(() => {
            pickupDateTimePickerRef.value?.set(null);
            setPickupDateTime(null);
          });
        } else {
          setPickupDateTimeInternal(pickupDateTime.value);
        }
      }
    }

    const setDropDateTime = (dateTime: Date | null) => {
      dropDateTime.value = dateTime;
      calculateRentalDay();

      if (dropDateTime.value === null) {
        localStorage.removeItem('SearchDropAt');
      } else {
        const setDropDateTimeInternal = (dropDateTimeValue: Date) => {
          localStorage.setItem('SearchDropAt', date.formatDate(dropDateTimeValue, 'DD-MM-YYYY HH:mm'));
          if (searchIsReady.value) {
            search();
            return;
          }
        };

        const monthDiff: number = (dropDateTime.value.getTime() - (pickupDateTime.value?.getTime() || (new Date()).getTime())) / 1000 / 60 / 60 / 24 / 30;

        if (monthDiff >= 2) {
          $q.dialog({
            message: monthDiff.toFixed(0) + ' aylık sorgulama yapıyorsunuz (' + date.formatDate((pickupDateTime.value || new Date()), 'DD.MM.YYYY') + ' - ' + date.formatDate(dropDateTime.value, 'DD.MM.YYYY') + '). Devam etmek istiyor musunuz?',
            persistent: true,
            ok: i18n.global.t('search.yesButton'),
            cancel: i18n.global.t('search.noButton'),
          }).onOk(() => {
            setDropDateTimeInternal(dropDateTime.value || (new Date()));
          }).onCancel(() => {
            dropDateTimePickerRef.value?.set(null);
            setDropDateTime(null);
          });
        } else {
          setDropDateTimeInternal(dropDateTime.value);
        }
      }
    }

    const calculateRentalDay = () => {
      if (pickupDateTime.value === null || dropDateTime.value === null) {
        rentalDay.value = null;
      } else {
        rentalDay.value = 1;
        const hourDiff: number = (dropDateTime.value.getTime() - pickupDateTime.value.getTime()) / 1000 / 60 / 60;
        let dayCalc: number = Math.floor(hourDiff / 24);

        if (hourDiff % 24 > 3) {
          dayCalc++;
        }

        rentalDay.value = dayCalc;
      }
    }

    const openPickupDateTimePicker = () => {
      if (!isReady.value || pickupDateTime.value !== null) {
        return;
      }

      setTimeout(() => {
        pickupDateTimePickerRef.value?.setFocus();
      }, 100);
    }

    const openDropDateTimePicker = () => {
      if (!isReady.value || dropDateTime.value !== null) {
        return;
      }

      setTimeout(() => {
        dropDateTimePickerRef.value?.setFocus();
      }, 100);
    }

    const search = () => {
      if (!isReady.value) {
        return;
      }

      if (pickupPoint.value === null) {
        $q.notify({
          color: 'negative',
          position: 'top-right',
          message: 'Lütfen alış yeri seçin',
          icon: 'report_problem'
        });

        unloadSearch();
        return;
      } else {
        let routerPush = { name: 'search', params: {} };

        if (pickupPoint.value.slug) {
          routerPush.name = 'searchSlug';
          routerPush.params = { slug: pickupPoint.value.slug };
        }
        else if (pickupPoint.value.city.slug) {
          routerPush.name = 'searchSlug';
          routerPush.params = { slug: pickupPoint.value.city.slug };
        }

        void router.push(routerPush);
      }

      if (differentReturnPointStatus.value && dropPoint.value === null) {
        $q.notify({
          color: 'negative',
          position: 'top-right',
          message: 'Lütfen dönüş yeri seçin',
          icon: 'report_problem'
        });

        unloadSearch();
        return;
      }

      if (pickupDateTime.value === null) {
        $q.notify({
          color: 'negative',
          position: 'top-right',
          message: 'Lütfen alış tarihi seçin',
          icon: 'report_problem'
        });

        unloadSearch();
        return;
      }

      if (dropDateTime.value === null) {
        $q.notify({
          color: 'negative',
          position: 'top-right',
          message: 'Lütfen dönüş tarihi seçin',
          icon: 'report_problem'
        });

        unloadSearch();
        return;
      }

      clearTimeout(searchPostponeCounter);
      searchPostponeCounter = setTimeout(() => {
        postponedSearch();
      }, 100);
    };

    const postponedSearch = () => {
      void store.dispatch('search/fill', {
        pickupPoint: Object.assign({}, pickupPoint.value),
        dropPoint: Object.assign({}, dropPoint.value),
        differentReturnPoint: !!differentReturnPointStatus.value,
        pickupDateTime: pickupDateTime.value,
        dropDateTime: dropDateTime.value,
      });

      void store.dispatch('makeReservation/setVehicle', null);
    }

    const unloadSearch = () => {
      void store.dispatch('search/fill', {
        pickupPoint: null,
        dropPoint: null,
        differentReturnPoint: null,
        pickupDateTime: null,
        dropDateTime: null,
      });

      void store.dispatch('makeReservation/setVehicle', null);
    }

    return {
      readonlyStatus: readonly,

      pickupPointPickerRef,
      pickPickupPoint,
      pickupCityId,
      dropPointPickerRef,
      pickDropPoint,
      point,
      addedDifferentReturnPointPicker,

      pickupDateTimePickerRef,
      setPickupDateTime,
      pickupDateTime,
      minPickupDateTime,
      dropDateTimePickerRef,
      setDropDateTime,
      minDropDateTime,
      maxDateTime,
      dateTime,
      rentalDay,
      search,
      i18n,

      onSearching,
    };
  },
});
</script>
<template>
  <div class="search-box q-pa-sm">
    <div class="row q-col-gutter-sm">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="row q-col-gutter-xs">
          <delivery-point-picker ref="pickupPointPickerRef" class="col-12"
                                 :dense="false"
                                 :label="point.pickupPicker.label"
                                 :selected-id="point.pickupPicker.selectedId"
                                 :is-accessible="!readonlyStatus && point.pickupPicker.isAccessible && !onSearching"
                                 @pick="pickPickupPoint"/>
          <q-field class="col-auto" :dense="!point.differentReturn.status" :filled="point.differentReturn.status"
                   :readonly="readonlyStatus || !point.differentReturn.status">
            <template v-slot:prepend>
              <q-toggle
                v-model="point.differentReturn.status"
                :color="point.differentReturn.color"
                :disable="readonlyStatus || onSearching"
                unchecked-icon="clear"
                checked-icon="check"
              >
                <q-tooltip v-if="point.differentReturn.status" v-text="point.differentReturn.label"></q-tooltip>
              </q-toggle>
            </template>
            <template v-slot:control v-if="!point.differentReturn.status">
              <div class="self-center full-width no-outline text-grey-6">{{ point.differentReturn.label }}</div>
            </template>
          </q-field>
          <transition
            appear
            enter-active-class="animated fadeInRight"
            leave-active-class="animated fadeOutRight"
            v-if="point.differentReturn.status"
            @after-enter="addedDifferentReturnPointPicker"
          >
            <delivery-point-picker ref="dropPointPickerRef"
                                   class="col"
                                   :dense="false"
                                   :label="point.dropPicker.label"
                                   :selected-id="point.dropPicker.selectedId"
                                   :is-accessible="!readonlyStatus && point.dropPicker.isAccessible && !onSearching"
                                   :city-id="pickupCityId"
                                   @pick="pickDropPoint">
              <q-tooltip v-if="!point.dropPicker.isAccessible" class="bg-deep-orange-2 text-black">Alış Yeri Seçilmeli</q-tooltip>
            </delivery-point-picker>
          </transition>
        </div>
      </div>
      <div class="column justify-between col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="row q-col-gutter-xs">
          <date-time-picker class="col-sm-6 col-xs-12"
                            ref="pickupDateTimePickerRef"
                            cardClass="search-picker"
                            :dense="false"
                            :date-label="dateTime.pickupAtPicker.dateLabel"
                            :time-label="dateTime.pickupAtPicker.timeLabel"
                            :is-accessible="!readonlyStatus && !onSearching"
                            :value="dateTime.pickupAtPicker.value"
                            :min="minPickupDateTime"
                            :max="maxDateTime"
                            @set="setPickupDateTime"/>
          <date-time-picker class="col-sm-6 col-xs-12"
                            ref="dropDateTimePickerRef"
                            cardClass="search-picker"
                            :dense="false"
                            :date-label="dateTime.dropAtPicker.dateLabel"
                            :time-label="dateTime.dropAtPicker.timeLabel"
                            :is-accessible="!readonlyStatus && !onSearching && pickupDateTime !== null"
                            :value="dateTime.dropAtPicker.value"
                            :min="minDropDateTime"
                            :max="maxDateTime"
                            @set="setDropDateTime">
            <q-tooltip v-if="pickupDateTime === null" class="bg-deep-orange-2 text-black">Alış Tarihi Seçilmeli</q-tooltip>
          </date-time-picker>
        </div>
        <div class="row justify-end items-end q-mt-sm">
          <div class="col-auto" v-if="rentalDay !== null">
            <q-chip style="border-top: none; border-left: none; border-right: none;" outline square
                    icon="info" class="q-mb-none" :ripple="false" :clickable="!readonlyStatus && !onSearching" @click="search">
              <span>{{ rentalDay }}</span>&nbsp;<span>Günlük Kiralama</span>
            </q-chip>
          </div>
          <div class="col-auto">
            <q-btn size="lg" color="primary" :disable="readonlyStatus || onSearching" @click="search">
              <i class="fas fa-car"></i>
              <span>&nbsp;</span>
              <span v-if="!onSearching">Ara</span>
              <q-spinner-dots v-if="onSearching"></q-spinner-dots>
            </q-btn>
          </div>
        </div>
      </div>
      <!--          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
      <!--            <q-btn color="primary" class="full-width" padding="sm" :disable="onSearching" @click="search">-->
      <!--              <span v-if="!onSearching"><i class="fas fa-car"></i> Ara</span>-->
      <!--              <q-spinner-dots v-if="onSearching"></q-spinner-dots>-->
      <!--            </q-btn>-->
      <!--          </div>-->
    </div>
  </div>
</template>

<style scoped lang="scss">
  .search-box {
    //margin: 0 auto;
    //border-radius: 5px;
    //background-color: #FFFFFF;
  }
</style>
<style  lang="scss">
  .search-box {
    .q-field--filled {
      .q-field__control {
        background-color: #fff !important;
      }
    }
  }
</style>
