<script lang="ts">
import { defineComponent, PropType, ref, computed } from 'vue';
import { i18n } from 'boot/i18n';
import { Vehicle } from 'src/models/search';
import VehiclePopUpContent from 'components/global/VehiclePopUpContent.vue';

export default defineComponent({
  name: 'ComponentVehicleListItem',
  components: { VehiclePopUpContent },
  props: {
    vehicle: {
      type: Object as PropType<Vehicle>,
      required: true
    }
  },
  setup(props, context) {
    const name = ref('name');
    const item = computed((): Vehicle => props.vehicle);

    const rent = (id: number) => {
      context.emit('selectVehicle', id);
    }

    return {
      i18n,
      name,
      item,
      rent
    };
  },
});
</script>
<template>
  <q-card>
    <q-card-section class="row q-pa-sm q-col-gutter-sm" :horizontal="!$q.screen.xs">
      <div class="col">
        <div class="row q-col-gutter-sm">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div>
              <q-img :src="item.image" position="30% 30%">
<!--                <div v-if="$q.screen.xs" class="absolute all-pointer-events bg-transparent column items-end" style="top: 0; right: 0">-->
<!--                  <q-chip outline square color="teal" icon="fas fa-car-side" class="text-bold" :ripple="false">{{ item.properties.group.name }}</q-chip>-->
<!--                  <q-chip outline square color="teal" icon="fas fa-road" class="text-bold" :ripple="false">{{ item.properties.kmLimit.name }}</q-chip>-->
<!--                </div>-->
<!--                <div v-if="$q.screen.xs" class="absolute all-pointer-events bg-transparent column items-end" style="top: 0; left: 0">-->
<!--                  <div v-if="item.stars.length > 0">-->
<!--                    <q-chip outline square :color="star.color" icon="star" class="text-bold" :ripple="false" v-for="(star, i) in item.stars" :key="`star-${i}`">{{ star.name }}</q-chip>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="q-pa-none bg-transparent">-->
<!--&lt;!&ndash;                  <q-spinner-rings&ndash;&gt;-->
<!--&lt;!&ndash;                    color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;                    size="3em" />&ndash;&gt;-->
<!--                  <q-badge color="primary" label="Fırsat" />-->
<!--                  <q-tooltip anchor="center right" self="center left" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold" v-text="'Süper Fiyat'"/>-->
<!--                </div>-->
                <q-btn v-if="$q.screen.xs" class="absolute all-pointer-events" style="bottom: 0; left: 0" flat round color="light-blue" size="lg" icon="info">
                  <q-popup-proxy>
                    <vehicle-pop-up-content :id="item.id" />
                  </q-popup-proxy>
                </q-btn>
              </q-img>
            </div>
            <div v-if="$q.screen.sm">
              <hr>
              <div class="text-h6"><span>{{ item.name }}</span> <span class="text-subtitle2 text-deep-orange-6">veya benzeri</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-xs-12">
            <div v-if="!$q.screen.sm">
              <div class="text-h6"><span>{{ item.name }}</span> <span class="text-subtitle2 text-deep-orange-6 lt-sm block">veya benzeri</span></div>
              <hr>
            </div>
            <div v-if="!$q.screen.xs">
              <div>
                <q-chip outline square color="primary" icon="fas fa-car-side">
                  <span>{{ item.properties.group.name }}</span>
                  <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold">
                    Grup
                  </q-tooltip>
                </q-chip>
                <q-chip outline square color="primary" icon="fas fa-gas-pump">
                  <span>{{ item.properties.fuel.name }}</span>
                  <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold">
                    Yakıt
                  </q-tooltip>
                </q-chip>
                <q-chip outline square color="primary" icon="fas fa-cogs">
                  <span>{{ item.properties.transmission.name }}</span>
                  <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold">
                    Şanzıman
                  </q-tooltip>
                </q-chip>
              </div>
              <div>
                <q-chip v-if="item.properties.luggageVolume.value !== null" outline square color="primary" icon="fas fa-layer-group">
                  <span>{{ item.properties.luggageVolume.name }}</span>
                  <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold">
                    Bagaj Hacmi
                  </q-tooltip>
                </q-chip>
                <q-chip v-if="item.properties.suitcaseCapacity.value !== null" outline square color="primary" icon="fas fa-suitcase-rolling">
                  {{ item.properties.suitcaseCapacity.name }}
                  <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold">
                    Bagaj Bavul Kapasitesi
                  </q-tooltip>
                </q-chip>
              </div>
              <div v-if="item.stars.length > 0">
                <q-chip outline square :color="star.color" icon="star" class="text-bold" v-for="(star, i) in item.stars" :key="`star-${i}`">{{ star.name }}</q-chip>
              </div>
              <!--            <div class="q-mt-sm">-->
              <!--              <div v-for="(review, i) in item.reviews" :key="`review-${i}`">-->
              <!--                <div>-->
              <!--                  <i class="fas fa-quote-left"></i>-->
              <!--                  <span class="text-subtitle2 q-ml-sm">{{ review.content }}</span>-->
              <!--                </div>-->
              <!--                <div class="text-right">-->
              <!--                  <q-rating-->
              <!--                    v-if="review.rating !== null"-->
              <!--                    class="q-mb-xs"-->
              <!--                    size="1.5em"-->
              <!--                    readonly-->
              <!--                    color="deep-orange"-->
              <!--                    icon="star_border"-->
              <!--                    icon-selected="star"-->
              <!--                    :model-value="review.rating"/>-->
              <!--                  <span class="q-mr-xs">{{ review.userName }}</span>-->
              <!--                  <q-icon name="place"></q-icon>-->
              <!--                  <span class="q-mr-sm">{{ review.country }}</span>-->
              <!--                  <i class="fas fa-quote-right"></i>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--            </div>-->
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <q-list dense>
<!--              <q-item>-->
<!--                <q-item-section>-->
<!--                  <q-item-label>Kiralama Süresi</q-item-label>-->
<!--                </q-item-section>-->
<!--                <q-item-section side>-->
<!--                  <q-item-label caption>10 Gün</q-item-label>-->
<!--                </q-item-section>-->
<!--              </q-item>-->
<!--              <q-item>-->
<!--                <q-item-section>-->
<!--                  <q-item-label>Km Limiti</q-item-label>-->
<!--                </q-item-section>-->
<!--                <q-item-section side>-->
<!--                  <q-item-label caption>Sınırsız</q-item-label>-->
<!--                </q-item-section>-->
<!--              </q-item>-->
              <q-item>
                <q-item-section>
                  <q-item-label>Depozito Ücreti</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption v-if="item.calculation.deposit === 0">
                    <span>Gerekmiyor</span>
                  </q-item-label>
                  <q-item-section side v-else>
                    <q-item-label caption>{{ item.calculation.deposit }} {{ item.calculation.currencyCode }}</q-item-label>
                  </q-item-section>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>Ön Ödeme</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption>
                    <span>Gerekmiyor</span>
                    <q-tooltip anchor="top middle" self="bottom middle" class="bg-primary text-bold">
                      Ödeme araç tesliminde yapılır
                    </q-tooltip>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>Günlük Fiyat</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption>{{ item.calculation.total.daily }} {{ item.calculation.currencyCode }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-bold text-accent">Toplam Fiyat</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label class="text-bold text-accent">{{ item.calculation.total.total }} {{ item.calculation.currencyCode }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-btn @click="rent(item.id)" color="accent" label="ŞİMDİ KİRALA" />
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      </div>
      <q-card-actions v-if="$q.screen.gt.xs" vertical class="justify-around col-auto q-pa-none">
        <q-btn flat round color="light-blue" icon="info">
          <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-light-blue text-white text-bold">
            Araç Bilgileri
          </q-tooltip>
          <q-popup-proxy>
            <vehicle-pop-up-content :id="item.id" />
          </q-popup-proxy>
        </q-btn>
        <q-btn flat round color="primary" icon="bookmark" disable>
          <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-primary text-white text-bold">
            Kaydet
          </q-tooltip>
        </q-btn>
        <q-btn flat round color="secondary" icon="share" disable>
          <q-tooltip anchor="center left" self="center right" transition-show="jump-right" transition-hide="jump-left" class="bg-secondary text-white text-bold">
            Paylaş
          </q-tooltip>
        </q-btn>
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<style scoped lang="scss">
  .q-img {
    .q-img__content {
      > div.q-pa-none {
        padding: 0 0;
      }
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    .q-img > .q-img__container > .q-img__image {
      padding: 5em;
    }
    .q-img__content > div {
      padding: 0;
    }
    //.q-img__image {
    //  padding: 20px;
    //  width: 85%;
    //  height: auto;
    //}
  }
</style>
