<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ComponentVehicleListItemPlaceholder',
  setup() {
    return {};
  },
});
</script>
<template>
  <q-card class="list-item">
    <q-card-section horizontal>
      <div class="col">
        <div class="row">
          <q-card-section class="col-4">
            <q-skeleton height="200px" square />
          </q-card-section>
          <q-card-section class="col-5">
            <q-skeleton type="text" />
            <hr>
            <div class="flex flex-block q-gutter-sm">
              <q-skeleton type="QChip" />
              <q-skeleton type="QChip" />
              <q-skeleton type="QChip" />
            </div>
            <div class="flex flex-block q-gutter-sm q-mt-sm">
              <q-skeleton type="QChip" />
              <q-skeleton type="QChip" />
            </div>
            <div class="flex flex-block q-gutter-sm q-mt-sm">
              <q-skeleton type="QChip" />
            </div>
            <div class="flex flex-block q-gutter-sm q-mt-sm">
              <i class="fas fa-quote-left"></i>
              <q-skeleton type="text" style="width: 150px;" />
              <i class="fas fa-quote-right"></i>
            </div>
          </q-card-section>
          <q-card-section class="col-3">
            <q-list dense>
              <q-item>
                <q-item-section>
                  <q-item-label><q-skeleton type="text" /></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption><q-skeleton type="text" style="width: 40px;" /></q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label><q-skeleton type="text" /></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption><q-skeleton type="text" style="width: 40px;" /></q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label><q-skeleton type="text" /></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption><q-skeleton type="text" style="width: 40px;" /></q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label><q-skeleton type="text" /></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption><q-skeleton type="text" style="width: 40px;" /></q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label><q-skeleton type="text" /></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption><q-skeleton type="text" style="width: 40px;" /></q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-skeleton type="QBtn" class="full-width" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </div>
      </div>
      <q-card-actions vertical class="justify-around col-auto">
        <q-skeleton type="QRadio" />
        <q-skeleton type="QRadio" />
        <q-skeleton type="QRadio" />
      </q-card-actions>
    </q-card-section>
  </q-card>
</template>

<style scoped lang="scss">

</style>
