<script lang="ts">
import { defineComponent, ref, onBeforeMount, computed, reactive } from 'vue';
import { api } from 'boot/axios';
import { AxiosResponse } from 'axios';
// import store from 'src/store'

interface InfoInterface {
  minDriverAge: null|number;
  minLicenseAge: null|number;
}

interface AxiosInfoResponseInterface extends AxiosResponse {
  data: InfoInterface
}

export default defineComponent({
  name: 'ComponentVehiclePopUpContent',
  components: { },
  props: {
    id: {
      type: Number,
      required: true
    },
  },
  setup(props) {
    const isReady = ref(false);
    const id = computed((): number => props.id);
    const info = reactive(<InfoInterface> {
      minDriverAge: null,
      minLicenseAge: null,
    });

    onBeforeMount(() => {
      loadInfo();
    });

    const loadInfo = () => {
      api.get(`/reservation/vehicles/info/${id.value}`)
        .then((response: AxiosInfoResponseInterface) => {
          info.minDriverAge = response.data.minDriverAge;
          info.minLicenseAge = response.data.minLicenseAge;
        })
        .catch(() => {
          console.log('info load error');
        })
        .finally(() => {
          isReady.value = true;
        });
    }

    return {
      isReady,
      info,
    };
  },
});
</script>
<template>
  <q-card flat>
    <q-card-section>
      <div class="text-h6">Araç Bilgileri</div>
    </q-card-section>
    <q-card-section>
      <q-markup-table flat>
        <tbody>
        <tr>
          <td class="text-left">Minimum Sürücü Yaşı</td>
          <td class="text-right">{{ info.minDriverAge }}</td>
        </tr>
        <tr>
          <td class="text-left">Minimum Ehliyet Yaşı</td>
          <td class="text-right">{{ info.minLicenseAge }}</td>
        </tr>
        </tbody>
      </q-markup-table>
    </q-card-section>
  </q-card>
</template>

<style scoped lang="scss">

</style>
